<a href="https://colab.research.google.com/github/pinkikumari1/kbc/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create a function

def my_function():
  print("hello pinki")
my_function()

hello pinki

In [ ]:
T=int(input())
for i in range(T):

In [ ]:
# arguments

def my_function(name):
  print(name + " pinki")
my_function("miss")
my_function("rinki")

miss pinki
rinki pinki

In [ ]:
def fun(nik):
  print("pinki "+nik)
fun("kumari")
fun("gupta")
fun("jha")

pinki kumari
pinki gupta
pinki jha

In [ ]:
# number of arguments(this function expects 2 argument, and gets 2 arguments:)

def my_function(fname,lname):
  print(fname +" "+lname)
my_function("pinki","kumari")

pinki kumari

In [ ]:
# this function expects 2 arguments, but gets only 1: That time its show the error.

def my_function(fname,lname):
  print(fname+lname)
my_function("pinki")

TypeError: ignored

In [ ]:
# Arbitrary Arguments, (*args)

def my_function(*kid):
  print("The youngest girl is "+kid[0])
my_function("pinki","rinki",'kiran')

The youngest girl is pinki

In [ ]:
# KEYWORD ARGUMENTS

def my_function(l1,l2,l3):
  print("The youngest child is "+l3)
  print("The youngest child is "+l2)
my_function(l1="aarav",l2="Abhi",l3="Ansh")

The youngest child is Ansh
The youngest child is Abhi

In [ ]:
# ARBITRARY KEYWORD ARGUMENT, (**KWARGS)

def my_function(**kid):
  print("His last name is "+kid["l1"])
  print("His last name is "+kid['l2'])
my_function(l1="Devi",l2="Gupta")

His last name is Devi
His last name is Gupta

In [ ]:
# DEFAULT PARAMENTER VALUE

def my_function(country="India"):
  print("I am from "+country)
my_function("USA")
my_function("UK")
my_function("FRANSH")
my_function()

I am from USA
I am from UK
I am from FRANSH
I am from India

In [ ]:
# PASSING A LIST AS AN ARGUMENT

def my_function(food):
  for i in food:
    print(i)
fruits=["apple",'banana','lichi','papaya']
my_function(fruits)

apple
banana
lichi
papaya

In [ ]:
# RETURN VALUES

def my_function(x):
  return 5*x
print(my_function(3))
print(my_function(7))
print(my_function(15))

15
35
75

In [ ]:
def my_function(x):
  return 10//x
print(my_function(3))
print(my_function(7))
print(my_function(15))

3
1
0

In [ ]:
def my_function(x):
  return 2*x

print(my_function(3))
print(my_function(7))
print(my_function(15))

6
14
30

In [ ]:
#  THE PASS ATATEMENT
# (put in the pass statement to avoid getting an error)
def my_function():
  pass

In [ ]:
###########      TEST   INTERVIEW         ################################
#  NUM=[4,5,11,6,7]
#  find max number
def sec_max(n):
  max1=0
  for i in n:
    max1=max(max1,i)
  n.remove(max1)
  max2=0
  for j in n:
    max2=max(max2,j)
  print(max2)
num=[4,5,11,6,7]
sec_max(num)

7

In [ ]:
#  remove zero in (1004) and replace 5
# res= 1554
def num():
  a=1004
  b=str(a)
  for i in b:
    if i=='0':
      c=b.replace('0','5')
  res=int(c)
  print(res)
  print(type(res))
num()

1554
<class 'int'>

In [ ]:
def num():
  a=1004
  b=str(a)
  c=b.replace('0','5')
  p=int(c)
  print(p)
  print(type(p))
num()

1554
<class 'int'>

In [ ]:
def count1(m):
  p=[]
  for i in range(len(m)):
    c=0
    j=i+1
    while j<(len(m)):
      if m[i]>m[j]:
        c+=1
      j+=1
    p.append(c)
  print(p)
num=[12,1,2,3,0,11,4]
count1(num)

[6, 1, 1, 1, 0, 1, 0]

In [ ]:
#######  SIMPLE   QUESTIONS        ###################
def sum(a,b):
  print(a+b)
sum(12,4)

16

In [ ]:
a=[1,33,4]
print(a*2)

[1, 33, 4, 1, 33, 4]

In [ ]:
def sum(a,r):
  b=a+r
  print(b)
sum(2,7)

9

In [ ]:
def sum():
  a=3
  b=6
  print(a+b)
sum()

9

In [ ]:
def pro():
  a=8
  b=3
  c=a*b
  
  print(c)
  return c
print(pro())

24
24

In [ ]:
a=[[4,3,2],[4,6,8],[2,4,1]]
b=[]
i=0
while i<len(a):
  j=0
  p=1
  while j<len(a[i]):
    p*=a[j][i]
    j+=1
  b.append(p)
  i+=1
print(b)

[32, 72, 16]

In [ ]:
def expo(a,b):
  print(a**b)
expo(3,3)

27

In [ ]:
def funt(a,b):
  c=a+b
  return c
print(funt(4,8))

12

In [ ]:
def sum():
  a=4
  b=5
  x=a*b
  print(x)
print(sum())

20
None

In [ ]:
x=5
def sum():
  # x=3
  y=9+x
  # return x*y
  print(y)
print(sum())
print(x)

14
None
5

In [ ]:
def add(a,b=5,c=10):
    return (a+b+c)
print(add(2))
print(add(9,2))
print(add(3,9,6))

17
21
18

In [ ]:
def s():
  x=8*3
  return x
print(s())
y=s()
print(y)

24
24

In [ ]:
def s():
  x=5*4
  print(x)
  return x
  
print(s())

20
20

In [ ]:
def div(a,b):
  print(a//b)
  return a
print(div(10,5))

2
10

In [ ]:
def sum(*a):
  s=0
  for i in a:
    s+=i
    print(s)
sum(3,8)

11

In [ ]:
def pic(n):
  for i in range(1,11):
    print(i*n)
pic(3)

3
6
9
12
15
18
21
24
27
30

In [ ]:
def tab(n):
  for i in range(1,11):
    print(n,"*",i,"=",n*i)
tab(int(input("num :")))

num :3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
def fun(a):
  i=1
  while i<=10:
    j=a
    while j<=(a+5):
      print(j,"*",i,"=",j*i,end="     ")
      j+=1
    print('\n')
    i+=1
fun(int(input("num :")))

num :5
5 * 1 = 5     6 * 1 = 6     7 * 1 = 7     8 * 1 = 8     9 * 1 = 9     10 * 1 = 10

5 * 2 = 10     6 * 2 = 12     7 * 2 = 14     8 * 2 = 16     9 * 2 = 18     10 * 2 = 20

5 * 3 = 15     6 * 3 = 18     7 * 3 = 21     8 * 3 = 24     9 * 3 = 27     10 * 3 = 30

5 * 4 = 20     6 * 4 = 24     7 * 4 = 28     8 * 4 = 32     9 * 4 = 36     10 * 4 = 40

5 * 5 = 25     6 * 5 = 30     7 * 5 = 35     8 * 5 = 40     9 * 5 = 45     10 * 5 = 50

5 * 6 = 30     6 * 6 = 36     7 * 6 = 42     8 * 6 = 48     9 * 6 = 54     10 * 6 = 60

5 * 7 = 35     6 * 7 = 42     7 * 7 = 49     8 * 7 = 56     9 * 7 = 63     10 * 7 = 70

5 * 8 = 40     6 * 8 = 48     7 * 8 = 56     8 * 8 = 64     9 * 8 = 72     10 * 8 = 80

5 * 9 = 45     6 * 9 = 54     7 * 9 = 63     8 * 9 = 72     9 * 9 = 81     10 * 9 = 90

5 * 10 = 50     6 * 10 = 60     7 * 10 = 70     8 * 10 = 80     9 * 10 = 90     10 * 10 = 100

In [ ]:
################ MERAKIS  QUESTIONS         #####################


def ask_question():
  print("Once")
  
ask_question()
ask_question()
ask_question()
ask_question()
ask_question()

Once
Once
Once
Once
Once

In [ ]:
def ask_question():
  print("Once")
i=1
while i<=5:
  ask_question()
  i+=1

Once
Once
Once
Once
Once

In [ ]:
def ask_question():
  print("Once",end=" ,")
i=1
while i<=100:
  ask_question()
  i+=1

Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,Once ,

In [ ]:
def maximum(m):
  print(max(m))
num=[3,5,7,34,2,89,2,5]
maximum(num)

89

In [ ]:
print(sum(2,4,7,8,5,4,11))

41
None

In [ ]:
def my_sum(n):
  s=0
  for i in n:
    s+=i
  print(s)
num=[2,6,7,6,4,3,2]
my_sum(num)

30

In [ ]:
def my_sum(n):
  s=0
  for i in n:
    s+=i
  print(s)
num=[1,2,3,4,5]
my_sum(num)

15

In [ ]:
#    Using sort function sort the given list
def short(s):
  s.sort()
  print(s)
unorder_list = [6, 8, 4, 3, 9, 56, 0, 34, 7, 15]
short(unorder_list)

[0, 3, 4, 6, 7, 8, 9, 15, 34, 56]

In [ ]:
l = [6, 8, 4, 3, 9, 56, 0, 34, 7, 15]
print(l.sort())

None

In [ ]:
###       By using reverse function print the reverse order of the list.
def reverse(rev):
  print(rev[-1::-1])
reverse_list = ["Z", "A", "A", "B", "E", "M", "A", "R", "D"]
reverse(reverse_list)

['D', 'R', 'A', 'M', 'E', 'B', 'A', 'A', 'Z']

In [ ]:
def reverse(rev):
  rev.sort(reverse=True)
  print(rev)
reverse_list = ["Z", "A", "A", "B", "E", "M", "A", "R", "D"]
reverse(reverse_list)

['Z', 'R', 'M', 'E', 'D', 'B', 'A', 'A', 'A']

In [ ]:
def reverse(rev):
  rev.reverse()
  print(rev)
reverse_list = ["Z", "A", "A", "B", "E", "M", "A", "R", "D"]
reverse(reverse_list)

['D', 'R', 'A', 'M', 'E', 'B', 'A', 'A', 'Z']

In [ ]:
##   Use the min function and find the minimun value of the list.
def min1(m):
  print(min(m))
list = [8, 6, 4, 8, 4, 50, 2, 7]
min(list)

2

In [ ]:
def sum():
    print(12+13)
sum()

25

In [ ]:

def welcome():
    print("Welcome to function")
welcome()

Welcome to function

In [ ]:
def isEven():
  if(12%2==0):
    print("Even number")
  else:
    print("Odd number")

isEven()

Even number

In [ ]:

numbers_list = [1, 2, 3, 4, 5, 6, 7, 10, -2]
print(max(numbers_list))
print(min(numbers_list))
print(len(numbers_list))

10
-2
9

In [ ]:

def say_hello(name):
    print("Hello",name)
    print("How are you?")
say_hello("pinki")

Hello pinki
How are you?

In [ ]:

def ask_question(n):
    print(n)
    return n
ask_question("pinki")

pinki

'pinki'

In [ ]:
def max1(m): 
    print(max(m))
    return m
num=[1,5,76,5,3]
max1(num)

76

[1, 5, 76, 5, 3]

In [ ]:

def min1(m): 
    print(min(m))
    return m
num=[1,5,76,5,3]
min1(num)

1

[1, 5, 76, 5, 3]

In [ ]:

def sum1(m): 
    print(sum(m))
    return m
num=[1,5,76,5,3]
sum1(num)

90

[1, 5, 76, 5, 3]

In [ ]:
##########  DOCS QUESTION     ###########################
def sort1(m): 
    m.sort()
    print(m)
    return m
num=[1,5,76,5,3]
sort1(num)

[1, 3, 5, 5, 76]

[1, 3, 5, 5, 76]

In [ ]:
# Q2. Write a Python function to find the Max of three numbers.
def max1(a,b,c):
  print(max(a,b,c))
max(3,8,9)

9

In [ ]:
# Q3.Write a Python function to sum all the numbers in a list.
# Sample List : (8, 2, 3, 0, 7)
# Output : 20.
def sum1(s):
  print(sum(s))
list=(8,2,3,0,7)
sum1(list)

20

In [ ]:
# Q4.Write a Python program to reverse a string.
# Sample String : "1234abcd"
# Output : "dcba4321".
def rev(r):
  rever=""
  for i in range(-1,-(len(r)+1),-1):
    rever+=r[i]
  print(rever)
rev('1234abcd')

dcba4321

In [ ]:
# Q.5 takes a list and returns a new list with unique elements of the first list.
# Sample List : [1,2,3,3,3,3,4,5]
# Unique List : [1, 2, 3, 4, 5].

def unique(u):
  unique_list=[]
  for i in range(len(u)):
    if u[i] not in unique_list:
      unique_list.append(u[i])
  print(unique_list)
list=[1,2,3,3,3,3,4,5]
unique(list)

[1, 2, 3, 4, 5]

In [ ]:
# Q6.Write a Python program to print the even numbers from a given list.
# Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Expected Result : [2, 4, 6, 8].
def res(result):
  p=[]
  for i in range(len(result)):
    if result[i]%2==0:
      p.append(result[i])
  print(p)
list=[1,2,3,4,5,6,7,8,9]
res(list)

[2, 4, 6, 8]

In [ ]:
# Q7.Write function bmi that calculates body mass index (bmi = weight / height2).
# if bmi <= 18.5 return "Underweight"
# if bmi <= 25.0 return "Normal"
# if bmi <= 30.0 return "Overweight"
# if bmi > 30 return "Obese"

def bmi(w,h):
  bmi_m=w/h**2
  if bmi_m<=18.5:
    print("Underweight")
  elif bmi_m<=25.0:
    print("Normal")
  elif bmi_m<=30.0:
    print("Overweight")
  else:
    print("Obese")
bmi(float(input("enter weight : ")),float(input("enter height : ")))

enter weight : 45
enter height : 5.5
Underweight

In [ ]:
# Q8.Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. Go to the editor
# Sample String : 'The quick Brow Fox'
# Expected Output :
# No. of Uppercase characters : 3
# No. of Lower case Characters : 12
def str1(s):
  c_l=0
  c_u=0
  for i in range(len(s)):
    if s[i]>='A' and s[i]<='Z':
      c_u+=1
    elif s[i]>='a' and s[i]<='z':
      c_l+=1
    else:
      True    
  print('No. of Uppercase characters :',c_u)
  print('No. of Lowerrcase characters :',c_l)
str1(input("Enter the word :"))

Enter the word :Miss Pinki Kumari
No. of Uppercase characters : 3
No. of Lowerrcase characters : 12

In [ ]:
# Q9.Write a Python program to generate and print a list of first and last 5 elements where 
#   the values are square of numbers between 1 and 30 (both included).
# Output :-([1, 4, 9, 16, 25], [676, 729, 784, 841, 900]).

In [ ]:
# Q10.Create a function that takes 2 positive integers in form of a string as an input, and outputs the sum (also as a string):

# "4",  "5" --> "9"
# "34", "5" --> "39"
# Notes:

def sum1(a,b):
  if a =="":
    a=0
  elif b=="":
    b=0
  c=int(a)+int(b)
  c=str(c)
  print(c)
  print(type(c))


sum1(input("enter num :"),input("enter num :"))

enter num :
enter num :6
6
<class 'str'>

In [ ]:
# Q11.Implement a function named generateRange(min, max, step), which takes three arguments and generates a range of integers from min to max, with the step. The first integer is the minimum value, the second is the maximum of the range and the third is the step. (min < max)

# Task
# Implement a function named

# generate_range(2, 10, 2) # should return list of [2,4,6,8,10]
# generate_range(1, 10, 3) # should return list of [1,4,7,10]
# generate_range(2, 10, 2) # should return array of [2, 4, 6, 8, 10]
# generate_range(1, 10, 3) # should return array of [1, 4, 7, 10]
# Note
# min < max
# step > 0
# the range does not HAVE to include max (depending on the step)

def num(min1,max1,step1):
  p=[]
  for i in range(min1,max1,step1):
    p.append(i)
  print(p)
num(int(input("num :")),int(input("num :")),int(input("num :")))

num :1
num :8
num :2
[1, 3, 5, 7]

In [ ]:
# Q12.Numbers ending with zeros are boring.

# They might be fun in your world, but not here.

# Get rid of them. Only the ending ones.

# 1450 -> 145
# 960000 -> 96
# 1050 -> 105
# -1050 -> -105

def zero(z):
  for i in range(len(z)):
    a=int(z)%10
    if a>0:
      print(z)
      break
    z=int(z)//10

zero(input("num :"))

num :1200
12

In [ ]:
# Q13.Write a function to check if a number is even or not.
def even(num):
  if num%2==0:
    print("this is a Even number")
  else:
    print("this is NOT Even number")
even(int(input("enter num :")))

enter num :67
this is NOT Even number

In [ ]:
# Q14.Write a function to check if a number is prime or not.
def prime(p):
  if p%2==0 or p==2:
    print("NOT prime")
  else:
    c=0
    for i in range(3,p//2):
      if p%i==0:
        c+=1
    if c==0:
      print("prime number")
    else:
      print("Not prime")

prime(int(input("num :")))

num :99
Not prime

In [ ]:
# Q15.Write a function to calculate power of a number raised to other ( ab ) .
def power(p,q):
  print(p**q)
power(int(input("enter num :")),int(input("enter power :")))

enter num :2
enter power :4
16

In [ ]:
# Q16.Print multiplication table of 12 using function.
def tab(n):
  for i in range(1,11):
    print(n,"*",i,"=",n*i)
tab(int(input("num :")))

num :19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:
# Q17. Write a function to tell user if he/she is able to vote or not.( Consider minimum age of voting to be 18. )
def vote(v):
  if v>=18:
    print("You are able to VOTE")
  else:
    print("You are NOT able to VOTE")
vote(int(input("enter your age :")))

enter your age :22
You are able to VOTE

In [ ]:
##  Q.19  ################
def func(x=1,y=2):
  x=x+y
  y+=1
  print(x,y)
func(y=2,x=1)

3 3

In [ ]:
##  Q.20  #################
num=1
def func():
  num=3
  print(num)
func()
print(num)

3
1

In [ ]:
##  Q.21  #################
num=1
def func():
  num+=3
  print(num)
func()
print(num)

UnboundLocalError: ignored

In [ ]:
##  Q.22   #################
num=1
def func():
  global num
  num=num+3
  print(num)
func()
print(num)

4
4

In [ ]:
##  Q.23   #################
def func(x=1,y=2):
  x=x+y
  y+=1
  print(x,y)
func()

3 3

In [ ]:
##  Q.24   #################
def test(x=1,y=2):
  x=x+y
  y+=1
  print(x,y)
test(2,1)

3 2

In [ ]:
# Q25. Given a list of numbers, write a Python program to count positive and negative numbers in a List using function.
# Example:
# list1 = [2, -7, 5, -64, -14]
# Output: pos = 2, neg = 3

def count(num):
  c_p=0
  c_n=0
  for i in num:
    if i>=0:
      c_p+=1
    else:
      c_n+=1
  print("Count Of Positive Number :",c_p)
  print("Count Of Nagetive Number :",c_n)
list=[2,-7,5,-64,-14]
count(list)

Count Of Positive Number : 2
Count Of Nagetive Number : 3

In [ ]:
# Q26. Write a function called fizz_buzz that takes a number.
# If the number is divisible by 3, it should return “Fizz”.
# If it is divisible by 5, it should return “Buzz”.
# If it is divisible by both 3 and 5, it should return “FizzBuzz”.
# Otherwise, it should return the same number.

def fizz_buzz(n):
    if n%3==0 and n%5==0:
        print("FIZZ BUZZ")
    elif n%3==0:
        print("FIZZ")
    elif n%5==0:
        print("BUZZ")
    else:
        print(n)
fizz_buzz(int(input("Enter Number :")))

Enter Number :15
FIZZ BUZZ

In [ ]:
# Q27. Write a function for checking the speed of drivers. This function should have one parameter: speed.
# If speed is less than 70, it should print “Ok”.
# Otherwise, for every 5km above the speed limit (70), it should give the driver one demerit point and print the total number of demerit points. For example, if the speed is 80, it should print: “Points: 2”.
# If the driver gets more than 12 points, the function should print: “License suspended”
#********************    SPEED CHECK ************************
def speed(s):
    if s<70:
        print("OK")
    else:
        points=(s-70)//5
        print("Points :",points)
        if points>12:
            print("License Suspended")
speed(int(input("Enter the Speed :")))

In [ ]:
# Q28. Write a function called showNumbers that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. 
#For example, if the limit is 3, it should print: - 0 even,1 odd, 2 even, 3 odd 
#**************************  IDENTITY THE EVEN AND ODD NUMBER   ***************
def showNumber(limit):
    for i in range(limit+1):
        if i%2==0:
            print(i,"Even",end=", ")
        else:
            print(i,"Odd",end=", ")
showNumber(int(input("enter the limit :")))

In [ ]:
# Q29. Write a function that returns the sum of multiples of 3 and 5 between 0 and limit (parameter). 
#For example, if limit is 20, it should return the sum of 3, 5, 6, 9, 10, 12, 15, 18, 20.
#***************  SUM OF MULTIFICATION OF 3 AND 5  ********************
def showNumber(limit):
    sum=0
    for i in range(1,limit+1):
        if i%3==0 or i%5==0:
            sum+=i
            print(i,end=", ")
    print("Sum of multiple of 3 and 5 :",sum)
showNumber(int(input("enter the limit :")))

In [ ]:
# Q30. Write a function that prints all the prime numbers between 0 and limit where limit is a parameter.
#****************  PRIME NUMBER (between two num) with while loop  *********************
def showNumber(limit):
    i=1
    while i<=limit:
        j=1
        c=0
        while j<=i:
            if i%j==0:
                c+=1
            j+=1
        if c==2:
            print(i,end=", ")
        i+=1
showNumber(int(input("enter the limit :")))

In [ ]:
#****************  PRIME NUMBER (between two num) with FOR loop  *********************
def showNumber(limit):
    for i in range(1,limit+1):
        c=0
        for j in range(1,i+1):
            if i%j==0:
                c+=1
        if c==2:
            print(i,end=", ")
showNumber(int(input("enter the limit :")))

enter the limit :25
2, 3, 5, 7, 11, 13, 17, 19, 23,

In [ ]:
#**************** POSSITION PRIME NUMBER   *********************
def showNumber(limit,posi):
    p=0
    for i in range(2,limit+1):
        if i==2:
            p+=1
            print(i)
            if posi==p:
                print(posi,"possition of primr num :",i)
        elif i%2!=0:
            c=0
            for j in range(3,i//2):
                if i%j==0:
                    c+=1
            if c==0:
                print(i)
                p+=1
                if posi==p:
                    print((posi,"possition of primr num :",i))
showNumber(int(input("enter the limit :")),int(input("posinal prime :")))

enter the limit :11
posinal prime :4
2
3
5
7
4 possition of primr num : 7
11

In [ ]:
# Q31. Your goal is to return multiplication table for number that is always an integer from 1 to 10.
# For example, a multiplication table (string) for number == 5 looks like below:- 
# 1 * 5 =5 
# 2 * 5 =10
# 3 * 5 =15
#10 * 5 =50.
def multi(num):
  for i in range(1,11):
    print(i,"*",num,"=",i*int(num))
multi(input("Enter the table num :"))

Enter the table num :5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
# Q32.Complete the function that takes a non-negative integer n as input, and returns a list of all the powers of 2 with the exponent ranging from 0 to n (inclusive). 
# n=0 == >[1]   #[2^0]
# n = 1  ==> [1, 2]     # [2^0, 2^1]
# n = 2  ==> [1, 2, 4]  # [2^0, 2^1, 2^2].
def power(p):
  a=[]
  for i in range(p):
    a.append(2**i)
  print(a)
power(int(input("Enter the number :")))

Enter the number :8
[1, 2, 4, 8, 16, 32, 64, 128]

In [ ]:
# Q34. Write a function which converts the input string to uppercase.
# Write a function which converts the input string to uppercase.
# For example:-
# [10, 14, 2, 23, 19] -->  42 (= 23 + 19)
# [99, 2, 2, 23, 19]  --> 122 (= 99 + 23)
# Input sequence contains minimum two elements and every element is an integer.

In [ ]:
#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   QUETION OF SLIDE    @@@@@@@@@@@@@@@@@@@@

In [ ]:
def print_str(str1):
  print(str1)
  return
print_str("Calling the user definde function ")

Calling the user definde function

In [ ]:
#  EXAMPLE OF PASSING IMMUTABLE ARGUMENTS
a=10
def change_value(a):
  a=20
  print("inside function ,a=",a,"address=",id(a))
  return
print("BEFORE function ,a=",a,"address=",id(a))
change_value(a)
print("BEFORE function ,a=",a,"address=",id(a))

BEFORE function ,a= 10 address= 11256352
inside function ,a= 20 address= 11256672
BEFORE function ,a= 10 address= 11256352

In [ ]:
#  EXAMPLE OF PASSING MUTABLE ARGUMENTS
l=[1,2,3,4,5,6]
def change_value(l):
  l[3]=30
  print("Value inside the function , list=",l,"address=",id(l))
  return
print("BEFORE function call , list=",l,"address=",id(l))
change_value(l)
print("AFTER function call , list=",l,"address=",id(l))

BEFORE function call , list= [1, 2, 3, 4, 5, 6] address= 140628467550320
Value inside the function , list= [1, 2, 3, 30, 5, 6] address= 140628467550320
AFTER function call , list= [1, 2, 3, 30, 5, 6] address= 140628467550320

In [ ]:

def fun1(a,b=90):
  print("Value of a :",a)
  print("Value of b :",b)
  return
fun1(a="pinki",b=95)
fun1(a="Rinki")

Value of a : pinki
Value of b : 95
Value of a : Rinki
Value of b : 90

In [ ]:
def outer():
    x='local'
    def inner():
        nonlocal x
        x='nonlocal'
        print("inner :",x)
    inner()
    print('outer :',x)
outer()

inner : nonlocal
outer : nonlocal

In [ ]:
x='global'
def foo():
    global x 
    y='local'
    y=x*2
    print(x)
    print(y)
foo()
print(x)

global
globalglobal
global

In [ ]:
##   keyword argument   ##########
def greet(name,massage):
    print("hello",name)
    print(massage)
greet('pinki','good')
greet('funtastic','rinki')
greet(massage="howdy",name="pinki")

hello pinki
good
hello funtastic
rinki
hello pinki
howdy

In [ ]:
#  user defained function 
def add(x,y):
    sum=x+y
    return sum
a=5
b=7
print("sum :",add(a,b))

sum : 12

In [ ]:
def fun():
    x=10
    print("value",x)
x=20
print(fun())
print(x)

value 10
None
20

In [ ]:
def value(num):
    if num>=0:
        return num
    else:
        return -num
print(value(-2))
print(value(4))

2
4

In [ ]:
def greet(name):
    print("hello",name)
    return name
    print("pinki,rinki")

In [ ]:
def add(a,b):
    sum=a+b
    return sum
x=add(4,8)
print(x)
print(x+7)

12
19

In [ ]:
def add(a,b):
    sum=a+b
print(sum,add(4,8))

<built-in function sum> None

In [ ]:

def add(a,b):
    sum=a+b
    print(sum)
add(3,8)

11

In [ ]:

def get(name):
    print("hello",name)
get("pinki")
get("pinki rinki")

hello pinki
hello pinki rinki

In [ ]:
def pinki():
    print("pinki is a good girl.")
    print(5+8)
    return(8+9)
print("the sum of return :",pinki())

pinki is a good girl.
13
the sum of return : 17

In [ ]:
##########  infinete  function  ###############   like recursion  
def pinki():
    print("pinki is a good girl.")
    print(5+8)
    pinki()
pinki()

In [ ]:
def pinki():
    print("pinki is a good girl.")
    print(5+8)
pinki()
pinki()

pinki is a good girl.
13
pinki is a good girl.
13

In [ ]:
#######   PRACTICE QUESTION   #########################
def num(a=3,b=9):
  sum=a+b
  sub=a-b
  mul=a*b
  return sum ,sub ,mul
print(num())

(12, -6, 27)

In [ ]:
l=[34,67,78,73,39,89,9,23,12]
def roll_check(roll_list):
  roll=int(input("enter the roll No. :"))
  if roll in roll_list:
    print("YES")
  else:
    print("NO")
roll_check(l)

enter the roll No. :32
NO

In [ ]:
def max_num(a,b,c):
  max=0
  if a>b and a>c:
    max=a
  elif b>a and b>c:
    max=b
  else:
    max=c
  return max
print("max num is :",max_num(int(input("a :")),int(input("b :")),int(input("c :"))))

a :23
b :78
c :56
max num is : 78

In [ ]:
def check_alfa(str1):
  sum_v=0
  sum_c=0
  i=0
  while i<len(str1):
    if str1[i]=="a" or str1[i]=="e" or str1[i]=="i" or str1[i]=="o" or str1[i]=="u" :
      sum_v+=1
    elif str1[i]==" ":
      pass
    else:
      sum_c+=1
    i+=1
  return sum_v ,sum_c
print("COUNT OF VOWELS and CONSONANT: ",check_alfa(input("enter srting :")))

enter srting :anita kumari devi
COUNT OF VOWELS and CONSONANT:  (8, 7)

In [ ]:
def fac(num=int(input("enter num :"))):
  fac=1
  while num>1:
    fac*=num
    num-=1
  return fac
print("FACTORIAL IS :",fac())

enter num :6
FACTORIAL IS : 720

In [ ]:
def low_str(str1=input("enter the str :")):
  if str1.islower():
    return str1.upper()
  else:
    return str1.lower()
print(low_str())

enter the str :PINKI
pinki

In [ ]:
def area(Redi):
  area=22/7*(Redi**2)
  return area
print("The AREA IS :",area(int(input("enter the redius :"))))

enter the redius :4
The AREA IS : 50.285714285714285

In [ ]:
##########################  prime number ##################3
def prime(p):
    i=1
    c=0
    while i<=(p**1/2):
       if p%i==0:
          c+=1
       i+=1
    if c==1:
        return True
    else:
        return False
print(prime(int(input("enter the num :"))))

enter the num :144
False

In [ ]:
####################### DEFAULT ARGUNMENT  ##########################
def add(a,b=9):
  return a+b
print(add(8))

17

In [ ]:
####################  ASSIGNMENT  FUNCTION     ##############################
# 1. Write a Python function to find the Max of three numbers.###############
def max1(a,b,c):
    if a>b:
        max=a
        min=b
    else:
        max=b
        min=a
    if max>c:
        max=max
    else:
        if c>min:
            max=c
        else:
            max=min
    print(max)
max1(int(input("A:")),int(input("B:")),int(input("C:")))

In [ ]:
# 2. Write a Python function to sum all the numbers in a list.Sample List : (8, 2, 3, 0, 7)
def add(l):
    i=0
    sum=0
    while i <len(l):
        sum+=l[i]
        i+=1
    return sum
l1=[8,2,3,0,7]
print(add(l1))

20

In [ ]:
# # 3. Write a Python function to multiply all the numbers in a list.Sample List : (8, 2, 3, -1, 7)
def multi(l):
    i=0
    multiply=1
    while i<len(l):
        multiply*=l[i]
        i+=1
    return multiply
n=[8,2,3,-1,7]
print(multi(n))

-336

In [ ]:
# 4. Write a Python function to reverse a string Sample String
# # :"1234abcd" , "dcba4321"
def rev(s):
    r=s[::-1]
    return r
print(rev("1234abcd"))

dcba4321

In [ ]:
# 5. Write a Python function to calculate the factorial of a number (a non-negative integer). The
# function accepts the number as an argument.
def f(num):
    i=num
    fac=1
    while i>0:
        fac*=i
        i-=1
    return fac
print(f(int(input("enter the num:"))))

enter the num:6
720

In [ ]:
# 6. Write a Python function to check whether a number falls in a given range. Function
# argements are (u, l, n) where u=upper limit, l = lowr limit and n = number to search for.
def search(num,u,l):
    if num>l :
        if num<u:
            return True
    else:
        return False
a=search(int(input("search num:")),int(input("UPPER LIMIT:")),int(input("LOWER LIMIT:")))
print(a)

In [ ]:
# 7. Write a Python function that accepts a string and calculate the number of upper case letters
# # and lower case letters.Sample String : 'The quick Brow Fox Jumps Over the Lazy Dog.’'
def count_str(s):
   U_c=0
   L_c=0
   i=0
   while i<len(s):
       if s[i]>='A' and s[i]<='Z':
           U_c+=1
       elif s[i]>='a' and s[i]<='z':
           L_c+=1
       i+=1
   return ('upper',U_c,'lower',L_c)
p=count_str(input("enter string :"))
print(p)

enter string :pINKI kumari
('upper', 4, 'lower', 7)

In [ ]:
# # Q.8. Write a Python function that takes a list and returns a new list with unique elements of the first
def fun(l):
    unique=[]
    i=0
    while i<len(l):
        if l[i] not in unique:
            unique.append(l[i])
        i+=1
    return "unique list",unique
n=[1,2,3,3,3,3,4,5]
print(fun(n))

('unique list', [1, 2, 3, 4, 5])

In [ ]:
# Q.9 Write a Python function that takes a number as a parameter and check the number is prime
# #########  prime number ######
def prime(p):
    i=1
    c=0
    while i<=(p**1/2):
       if p%i==0:
          c+=1
       i+=1
    if c==1:
        return True
    else:
        return False
print(prime(int(input("enter the num :"))))

In [ ]:
# # Q.10 Write a Python function to print the even numbers from a given list.
def even(l):
    even=[]
    i=0
    while i<len(l):
        if l[i]%2==0:
            even.append(l[i])
        i+=1
    return "even list",even
n=[1,2,3,4,5,6,7,8,9]
print(even(n))

('even list', [2, 4, 6, 8])

In [ ]:
# # Q.11. Write a Python function to check whether a number is perfect or not.
def per(num):
    sum=0
    i=1
    while i<=(num//2):
        if num%i==0:
            sum+=i
        i+=1
    if num==sum:
        return "perfect num"
    else:
        return "Not perfect num"
print(per(int(input("enter the num :"))))

enter the num :28
perfect num

In [ ]:
# Q.12 Write a Python function that checks whether a passed string is palindrome or not.
def string(s):
    a=s[::-1]
    if a==s:
        return "String is Palidrom"
    else:
        return "String is Not palidrom"
print(string(input("enter the string :")))

enter the string :samas
String is Palidrom

In [ ]:
# Q.14. Write a Python function to check whether a string is a pangram or not.
# For example : "The quick brown fox jumps over the lazy dog"
def pan(s):
    i=97
    j=65
    while i<=122:
        if chr(i) not in s:
            if chr(j) not in s:
               return "Not Pangram"          
        i+=1
        j+=1
    return "Pangram "
print(pan(input("Enter the string :")))

Enter the string :abcdefghIjklMnopQRSTUvwxyz
Pangram

In [ ]:
# 15. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in 
# a hyphen-separated sequence after sorting them alphabetically.
# green-red-yellow-black-white
s='green-red-yellow-black-white'
l=[]
b=''
for i in s:
  if i=="-":
    l.append(b)
    b=''
  else:
    b+=i
l.sort()
b=''
for i in range(len(l)):
  if i==(len(l)-1):
    b+=l[i]
  else:
    b+=l[i]
    b+="-"
print(b)

black-green-red-yellow

In [ ]:
# Q.16. Write a Python function to create and print a list where the values are square of numbers
# between 1 and 30 (both included).
def num():
    j=1
    i=1
    square=[]
    while i<=30:
        if j**2==i:
            square.append(i)
            j+=1
        i+=1
    return "Square list:",square
print(num())

('Square list:', [1, 4, 9, 16, 25])

In [ ]:
# 19. Write a Python program to access a function inside a function.
def sum1(a,b):
  c=a+b
  return c
def mul(n):
  return(sum1(3,8)*n)
print(mul(6))

66

In [ ]:
# 20. Write a Python program to detect the number of local variables declared in a function.
def f():
  a="pinki"
  b=98
  c=4.8
  d=True
  e=3+5j
f()
print(f.__code__.co_nlocals)

4

In [ ]:
a="English-Science-Maths-Social sciences-Hindi"
a.split("-") 
i=0
while i<len(a):
  print(a[i])
  i+=1

E
n
g
l
i
s
h
-
S
c
i
e
n
c
e
-
M
a
t
h
s
-
S
o
c
i
a
l

s
c
i
e
n
c
e
s
-
H
i
n
d
i

In [ ]:
a='hbghfy6nb'
if a.isdigit():
 print(True)
else:
  print("NO")

NO

In [ ]:
def up(s):
  return s.upper()
a=up("pinki kimari")
print(a)

PINKI KIMARI

In [ ]:
#######################   LAMDA FUNCTION   #################################
#  SYNTAX OF LAMBDA 
#  LAMBDA ARGUMENT : EXPRESSION

In [ ]:
double=lambda m :m**2
print(double(3))
print(double(5))

9
25

In [ ]:
a=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
a.sort(key=lambda x:x[1] )
print(a)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
# Original list of integers:
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Even numbers from the said list:
# [2, 4, 6, 8, 10]
# Odd numbers from the said list:
# [1, 3, 5, 7, 9]
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1=list(filter(lambda n : n%2==0 , l))
print(l1)
l2=list(filter(lambda n : n%2!=0 ,l))
print(l2)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def str1(s):
    lambda s :   if s=="start",return True
    lambda s : else ,return False

print(str1(input("enter string :")))

SyntaxError: ignored

In [ ]:
a=4+8

In [ ]:
a

12

In [ ]:
def abc(*n):
  i=0
  while i<len(n):
    print(n[i]) 
    i+=1
print(abc(1,2,3,4,5,6,7,8,9))

1
2
3
4
5
6
7
8
9
None