<a href="https://colab.research.google.com/github/pinkikumari1/kbc/blob/main/IF_ELSE_eb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
C=int(input("Enter your Cost Price=>"))
S=int(input("Enter your Selling Price=>"))
if S>C:
  print("The profit is of Rs.",S-C)
elif S<C:
  print("The loss is of Rs.",C-S)
else:
  print("There are no profit and no loss",S-C)

Enter your Cost Price=>70
Enter your Selling Price=>100
The profit is of Rs. 30

In [ ]:
a=int(input("political marks= "))
b=int(input("home scinence marks= "))
c=int(input("economic marks= "))
d=int(input("english marks= "))
e=int(input("hindi marks= "))
f=int(input("total marks= "))
p=(a+b+c+d+e)/f*100
if p>=90:
  print("Percentage=",p,"Grade A+")
elif p>=80:
  print("Percentage=",p,"Grade B+")
elif p>=70:
  print("Percentage=",p,"Grade C+")
elif p>=60:
 print("Percentage=",p,"Grade D+")
elif p>=40:
 print("Percentage=",p,"Grade E+")
else:
 print("Percentage=",p,"Grade F")

political marks= 45
home scinence marks= 67
economic marks= 89
english marks= 99
hindi marks= 98
total marks= 500
Percentage= 79.60000000000001 Grade C+

In [ ]:
a=int(input("Enter your Basic salary=> "))
if a<=10000:
  print("Gross Salary",a+a*20/100+a*80/100)
elif a<=20000:
  print("Gross salary",a+a*25/100+a*90/100)
else:
 print("Gross salary",a+a*30/100+a*95/100)

Enter your Basic salary=> 500000
Gross salary 1125000.0

In [ ]:
u=float(input("enter electricity unit="))
if u<=50:
  print("Electricity bill",u*0.50+u*20/100,"Rs.")
elif u<=100:
 print("Elecricity bill",u*0.75+u*20/100,"Rs.")
elif u<=200:
 print("Electicity bill",u*1.20+u*20/100,"Rs.")
else:
 print("Elecricity bill",u*1.50+u*20/100,"Rs.")

enter electricity unit=80
Elecricity bill 76.0 Rs.

In [ ]:
a=int(input("Enter your Mathamatic Num="))
if a>=20:
  b=int(input("Enter your English Num="))
  if b>=25:
    c=int(input("Enter your Aljebra Num="))
    if c>=25:
      d=int(input("Enter your cultureal Num="))
      if d>=10:
        print("CongretulationsðŸ¥³â˜ºï¸ðŸ’«YourðŸŒŸðŸ« Admmition isðŸŽ‡ðŸŽ† Successfull ðŸ˜„ðŸ˜„")
      else:
        print("Better luck next time")
    else:
      print("Better luck next time")
  else: 
    print("Better luck next time")
else:
   print("Try Again With Your Hardwork ðŸ˜Š")

Enter your Mathamatic Num=21
Enter your English Num=24
Better luck next time

In [ ]:
a=int(input("Enter your Salary=>"))
b=int(input("Enter your Year of Service =>"))
if b>5:
  print("Net Bonus=>",a*5//100,"Rs.")
else:
  print("You Don't Deserve it")

Enter your Salary=>10000
Enter your Year of Service =>6
Net Bonus=> 500 Rs.

In [ ]:
n=int(input("Enter your Marks=>"))
if n<25:
  print("Grade-F")
elif n<45:
 print("Grade-E")
elif n<50:
 print("Grade-D")
elif n<60:
 print("Grade-c")
elif n<80:
 print("Grade-B")
else:
 print("Grade-A")

Enter your Marks=>80
Grade-A

In [ ]:
#Q.25
a=int(input("Attended Classes="))
b=int(input("Total classes="))
c=a/b*100
if c>75:
  print("Percentage=",c,"%")
  print("The students is allowed to sit in the exam")
else:
  print("Percentage=",c,"%")
  print("The students is not allowed to sit in the exam")

Attended Classes=6
Total classes=35
Percentage= 17.142857142857142 %
The students is not allowed to sit in the exam

In [ ]:
#q.24

p=int(input("Enter Age of First Person= "))
q=int(input("Enter Age of Second Person= "))
r=int(input("Enter Age of Third Person= "))
if p>q and p>r:
  if q>r:
    print(r,"is youngest")
  else:
    print(q,"is youngest")

  print(p,"Oldest Person")
7

elif q>p and q>r:
  if p>r:
    print(r,"is Youngest")
  else:
    print(p,"is youngest")
  print(q,"is oldest")
else:
  print(r,"is oldest")
  if p>q:
    print(q,"is youngest")
  else:
   print(p,"is youngest")

Enter Age of First Person= 45
Enter Age of Second Person= 56
Enter Age of Third Person= 8
8 is Youngest
56 is oldest

In [ ]:
#q.28
#Ans=Yes
if 4<8:
  print("""Kidzania is an indoor education and entertainment theme park for families and kids.where kids are educated .inspired and empowered by real life experience through role play actibities.
  Kidzania is a kid-sized detailed replica of the real world.""")

Kidzania is an indoor education and entertainment theme park for families and kids.where kids are educated .inspired and empowered by real life experience through role play actibities.
  Kidzania is a kid-sized detailed replica of the real world.

In [ ]:
#Q.29

a=int(input("Enter your Age=>"))
if a<18:
  print("You are Not Eligible For Vote")
else:
  print("You are Eligible For Vote")

Enter your Age=>17
You are Not Eligible For Vote

In [ ]:
#Q.30
n=int(input("Enter any number="))
if  n%7==0:
  print("This number is Divisible of 7")
else:
 print("This number is Not Divisible of 7")

Enter any number=77
This number is Divisible of 7

In [ ]:
#Q.31
a=int(input("Enter any number=>"))
if a%5==0:
  print("Hello")
else:
 print("Bye")

Enter any number=>55
Hello

In [ ]:
if 4>5:
  print("""anjum, kajal,zoya,rupa,
  pinki,
  radha""")

In [ ]:
#Q.32
u=int(input("Enter the unit="))
v=(u-100)
w=(v-100)
if u<=100:
  print("No Charge")
elif u<=200:
 print("Total bill=",v*5)
elif u>200:
  print("Total bill=",(100*5)+w*10)
else:
  print("No pending ")

Enter the unit=250
Total bill= 1000

In [ ]:
#Q.21
a=int(input("Enter Your cost of Purchased="))
if a>1000:
  print("Total cost for User with discount=",a-a*10/100,"Rs.")
else:
  print("Total pay=",a)

Enter Your cost of Purchased=20000
Total cost for User with discount= 18000.0 Rs.

In [ ]:
#Q.33
a=int(input("enter any number=>"))
b=a%10
if b!=0:
  print(b)
else:
  print("Invalid")

enter any number=>98
8

In [ ]:
#Q.34
a=int(input("Enter any number=>"))
b=a%10
if b==3:
  if b%3==0:
    print("Its a divisible of 3=",a)
else:
  print("Its a not divisible of 3=",a)

In [ ]:
#Q.35
i=int(input("cost price="))
if i>100000:
  print("The Road tax to be paid=",i*15/100,"Rs.")
elif i>=50000:
  print("The Road tax to be paid=",i*10/100,"Rs.")
elif i<=50000:
  print("The Road tax to be paid=",i*5/100,"Rs.")
else:
  print("Invalid")

cost price=200000
The Road tax to be paid= 30000.0 Rs.

In [ ]:
#Q.37
city=input("Enter the city Name=>")
if city=="delhi":
  print("red Fort")
elif city=="agra":
  print("taj Mahal")
elif city=="jaipur":
  print("jal Mahal")
else:
  print("Invalid")

Enter the city Name=>agra
taj Mahal

In [ ]:
a="54"
b="32"
p=10*str(int(a)+int(b))
print("\n", p)

 86868686868686868686

In [ ]:
#Q.38
a=int(input("Enetr your age=>"))
if a>=60:
  print("Person is a senior citizen")
else:
  print("Person is a not senior citizen")

Enetr your age=>60
Person is a senior citizen

In [ ]:
#Q.39
a=int(input("Enter the first number=>"))
b=int(input("Enter the second  number=>"))
if a<b:
 print(a,"is the lowest number")
else:
 print(b,"is the lowest number")

Enter the first number=>32
Enter the second  number=>18
18 is the lowest number

In [ ]:
#Q.40
a=int(input("Enter any number=>"))
c=str(a)
b=len(c)
if b==3:
  print(a,"is a three digit number")
else:
 print(a,"is a not three digit number")

Enter any number=>432
432 is a three digit number

In [ ]:
#Q.41
a=int(input("Enter the temperrature of water=>"))
if a>=100:
  print("It is Boilling")
else:
  print("It is Not Boilling")

Enter the temperrature of water=>100
It is Boilling

In [ ]:
#Q.42
a=int(input("Enter the first number=>"))
b=int(input("Enter the second number=>"))
c=input("Enter any Operator=>")
if c=="+":
  print("The Answer is=",a+b)
elif c=="-":
  print("The Answer is=",a-b)
elif c=="*":
  print("The Answer is=",a*b)
elif c=="/":
  print("The Answer is=",a/b)
elif c=="%":
  print("The Answer is=",a%b)
elif c=="**":
  print("The Answer is=",a**b)
elif c=="//":
  print("The Answer is=",a//b)
else:
 print("Invalid Operator")

Enter the first number=>16
Enter the second number=>4
Enter any Operator=>//
The Answer is= 4

In [ ]:
#Q.43
a=int(input("Enter your age=>"))
b=input("Enter your sex(M,F)=>")
c=int(input("Enter your Number of days=>"))
if a>=18 and a<30:
  if b=="male":
    print("Wage is=",c*700,"Rs.")
  else:
    print("Wage is=",c*750,"Rs.")
elif a>=30 and a<=40:
  if b=="male":
    print("Wage is =",c*800,"Rs.")
  else:
    print("Wage is =",c*850,"Rs.")   
else:
  print("Enter appropriate age")

Enter your age=>20
Enter your sex(M,F)=>female
Enter your Number of days=>20
Wage is= 15000 Rs.

In [ ]:
#Q.44
a=int(input("Enter first number="))
b=int(input("Enter second number="))
c=int(input("Enter third number="))
if a>b and a>c:
  if b>c:
    print(b,"is the second largest number")
  else:
    print(c,"is the largest number")
elif b>c and b>a:
  if a>c:
    print(a,"is the second largest number")
  else:
    print(c,"is the second largest number")
elif c>a and c>b:
  if a>b:
    print(a,"is the second largest number")
  else:
    print(b,"is the second largest number")
else:
  print("Invalid")

Enter first number=9
Enter second number=20
Enter third number=15
15 is the second largest number

In [ ]:
#Q>45
a=int(input("Enter no. of days="))
b=a-5
c=b-5
d=c-5
if a<=5:
  print("The Charge for Library=",a*2,"Rs.")
elif a>=6 and a<=10:
  print("The Charge for Liberary=",(5*2)+(b*3),"Rs.")
elif a>=11 and a<=15:
  print("The Charge for Liberary=",(5*2)+(5*3)+(c*4),"Rs.")
else:
  print("The Charge for Liberary=",(5*2)+(5*3)+(5*4)+(d*5),"Rs.")

Enter no. of days=18
The Charge for Liberary= 60 Rs.

In [ ]:
#Q.46
a=input("Enter any number=")
if a>"0" and a<"9":
  print(a,"is the Number")
else:
  print(a,"is not number")

Enter any number=6766
6766 is the Number

In [ ]:
#Q.47
a=int(input("Enter the any Month=>"))
b=int(input("Enter the No. of Days=>"))
if a==5 or a==6 or a==7:
  if b==31 or b==30:
    print("The Season is Summer")
  else:
   print("Nothing")
elif a==11 or a==12 or a==1: 
 if b==31 or b==30:
   print("The Season is Winter")
 else:
  print("Nothing")
elif a==8 or a==9 or a==10: 
 if b==31 or b==30:
  print("The season is Rainy")
 else:
  print("Nothing")
elif a==2:
 if b==28:
  print("The season is Autumn")
 else:
  print("Nothing") 
elif a==3 or a==4:
  if b==30 or b==31:
   print("The season is Spring")
  else:
   print("Nothing")
else:
  print("This not month")

Enter the any Month=>4
Enter the No. of Days=>30
The season is Spring

In [ ]:
#Q.48
p=float(input("Enter first num="))
q=float(input("Enter second num="))
r=float(input("Enter third num="))
if p>q:
 if p<r:
  print("The Median is",p)
 elif q>r:
  print("The Median is",q)
 else:
  print("The Median is",r)
else:
  if p>r:
   print("The Median is",p)
  elif q<r:
   print("The Median is",q)
  else:
   print("The Median is",c)

Enter first num=100
Enter second num=379
Enter third num=14
The Median is 100.0

In [ ]:
year=int(input("Enter the year="))
month=int(input("Enter the month="))
day=int(input("Enter  the day="))
if day>0 and day<=30:
  print("The Next Date is[",year,"-",month,"-",day+1,"]")
else:
  print("Invalid")

Enter the year=2022
Enter the month=5
Enter  the day=23
The Next Date is[ 2022 - 5 - 24 ]

In [ ]:
#Q.49 enter the date so output is next date
year=int(input("Enter the year="))
month=int(input("Enter the month[1-12]="))
day=int(input("Enter  the day[1-31]="))
if month==1 or month==3 or month==5 or month==7 or month==8 or month==10:
  if day>0 and day<=30:
    print("Next Date=[",day+1,'-',month,'-',year,"]")
  elif day==31:
    print("Next Date=[1-",month+1,'-',year,"]")
  else:
    print("Invalid")
elif month==4 or month==6 or month==9 or month==11:
  if day>0 and day<=29:
    print("Next Date=[",day+1,'-',month,'-',year,"]")
  elif day==30:
    print("Next Date=[1-",month+1,'-',year,"]")
  else:
    print("Invalid")
elif month==2:
  if day>0 and day<=27:
    print("Next Date=[",day+1,'-',month,'-',year,"]")
  elif day==28 or day==29:
  print("Next Date=[1-",month+1,'-',year,"]")
  else:
    print("Invalid")
elif month==12:
  if day>0 and day<=30:
    print("Next Date=[",day+1,'-',month,'-',year,"]")
    elif day==31:
      print("Next Date=[1-1-",year+1,"]")
  else:
    print("Invalid")
else:
  print("It is not Valid")

Enter the year=2016
Enter the month[1-12]=12
Enter  the day[1-31]=31
Next Date=[1-1- 2017 ]

In [ ]:
(2**3//4+8-12/6%3*4)

2.0

In [ ]:
#Q.51
a=input("Enter any word=>")
if a:
  print(len(a))

Enter any word=>shivji sah
10

In [ ]:
#Q.52
a=input("Enter any Word=>")
b=len(a)
if b==3:
  print(a+'ing')
elif b>3:
  print(a+'ly')
else:
  print("Unchanged")

Enter any Word=>put
puting

In [ ]:
a=int(input("First num="))
b=int(input("Secon num="))
c=int(input("Third num="))
if a>b and a>c:
  print(a,"is highest num")
if b>a and b>c:
  print(b,"is highest num")
if c>a and c>b:
  print(c,"is highest")
if a<b and a<c:
  print(a,"is lowest num")
if b<a and b<c:
  print(b,"is lowest num")
if c<a and c<b:
  print(c,"is lowest num")
else:
  print("Invalid")

First num=6
Secon num=9
Third num=4
9 is highest num
4 is lowest num

In [ ]:
#Q.54
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-05-21 07:05:12

In [ ]:
#Q.58
a=float(input("Enter the Redius:= "))
b=input("cm/m:= ")
if b=='cm':
  print("The Area is=",3.14*a**2,"cm")
elif b=='m':
  print("The Area is=",3.14*a**2,"m")
else:
  print("Don't Accepted")

Enter the Redius:= 6
cm/m:= m
The Area is= 113.04 m

In [ ]:
#Q.59
a=input("Enter your Last name:=")
b=input("Enter your First Name:=")
a,b = b,a
if a:
  print(a+' '+b)

Enter your Last name:=kumari
Enter your First Name:=pinki
pinki kumari

In [ ]:
#Q.59
a=input("Enter your Last name:=")
b=input("Enter your First Name:=")
c=a
a=b
b=c
if a:
  print(a+' '+b)

Enter your Last name:=kumari
Enter your First Name:=pinki
pinki kumari

In [ ]:
#abc.pinki hme . se todna hai or isse aage ka print karvana hai
#eg:abc=0,pinki=1
#Q.60
a=input("Enter your file name: ")
b=a.split(".")
print(b[0])

Enter your file name: pinki.org
pinki

In [ ]:
#Q 
a=int(input("Enter the temprature: "))
b=input("Enter the temprature in 'C'/'F': ")
if b=="c":
  if a>30:
    print("Hot, The temprature is:",(a+9/5)+32,"F.")
  elif a>20 and a<=30:
    print("Normal, The temprature is:",(a+9/5)+32,"F.")
  else:
    print("Cool, The temprature is:",(a+9/5)+32,"F.")
elif b=="f":
  if a>30:
    print("Hot, The temprature is:",(a-32)*5/9,"C")
  elif a>20 and a<=30:
    print("Normal, The temprature is:",(a-32)*5/9,"C")
  else:
    print("Cool, The temprature is:",(a-32)*5/9,"C")
else:
  print("Not accept")

Enter the temprature: 60
Enter the temprature in 'C'/'F': f
Hot, The temprature is: 15.555555555555555 C

In [ ]:
a=float(input("Enter your hight: "))
b=input("Enter your hight in 'CM/Inch': ")
if b=="cm":
   c=a/2.54
   if a>=25 and a<=45:
     print("Small, and your hight is:",c,"Inch")
   elif a>=46 and a<=65:
     print("Medium, and your hight is:",c,"Inch")
   elif a>=66 and a<=85:
     print("Good, and your hight is:",c,"Inch")
   else:
     print("Tall, and your hight is:",c,"Inch")
elif b=="inch":
     e=a*2.54
     if a>=25 and a<=45:
       print("Small, and your hight is:",e,"CM")
     elif a<=46 and a>=65:
       print("Medium, and your hight is:",e,"CM")
     elif a<=66 and a>=85:
       print("Good, and your hight is:",e,"CM")
     else:
        print("Tall, and your hight is:",e,"CM")
else:
  print("Don't Accept")

Enter your hight: 37
Enter your hight in 'CM/Inch': inch
Small, and your hight is: 93.98 CM

In [ ]:
a=int(input("Enter any number: "))
if a==1:
  print(10.5,"Year")
elif a==2:
  print(10.5*2,"year")
elif a>=3:
  print(21+((a-2)*4),"year")

Enter any number: 8
45 year