In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
new_list = [1, 2, 3, 4]
new_list[0] ="One" 
# Now list is [“One”, 2, 3, 4]
print(new_list)

['One', 2, 3, 4]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[-5:])

[6, 7, 8, 9, 10]

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
print(a[5:9])
print(a[0:9:2])
print(a[::2])
print(a[:])
print(a[::-2])
print(a[::-1])
print(a[-8:-3])

[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 8, 6, 4, 2]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[3, 4, 5, 6, 7]

In [ ]:
a=[1,2,3,4,5,6,7]
#print(" num:")
print(a[0])
print(a[1])

1
2

In [ ]:
a=[2,4,5,7,5,['pinki','kumari'],8,9,4,['rinki','kiran'],5,4,3,'rakesh','aansh']
print(a)
print()
print(a[0])
print()
print(a[1:])
print()
print(a[:1])
print()
print(a[-6:])
print()
print(a[3:10])
print()
print(a[-3:-12])

[2, 4, 5, 7, 5, ['pinki', 'kumari'], 8, 9, 4, ['rinki', 'kiran'], 5, 4, 3, 'rakesh', 'aansh']

2

[4, 5, 7, 5, ['pinki', 'kumari'], 8, 9, 4, ['rinki', 'kiran'], 5, 4, 3, 'rakesh', 'aansh']

[2]

[['rinki', 'kiran'], 5, 4, 3, 'rakesh', 'aansh']

[7, 5, ['pinki', 'kumari'], 8, 9, 4, ['rinki', 'kiran']]

[]

In [ ]:
p=[1,2,3,4,5,6,7,8,9,10]
print(a[5:])
print(a[:7])
print(a[-4])
print(a[::-1])

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7]
7
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=[1,3,4,5,6]
print(len(a))
b=[]
print(len(b))

5
0

In [ ]:
a=[55,66,77,44,88,44]
print(66 in a)
print(44 in a)
print(22 in a)
print(22 not in a)
print(55 not in a)

True
True
False
True
False

In [ ]:
print(-12%7)
print(7%-12)

2
-5

In [ ]:
p=[22,54,32,76]
for i in p:
  print(i) 
print()
i=0
while i<len(p):
  print(p[i])
  i+=1
print()
for i in range(len(p)):
  print(p[i])

22
54
32
76

22
54
32
76

22
54
32
76

In [ ]:
odd=[1,3,5,7,9]
even=[2,4,6,8,10]
print(odd)
print(even)
all_num = odd + even
print(all_num)
print()
odd.extend(even)
print(even)
#print(even)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
print(-12%7)
print(7%-12)

2
-5

In [ ]:
a=[]
a.append(1)
a.append(2)
a.append(3)
a.append(2)
print(a)
a.remove(2)
print(a)

[1, 2, 3, 2]
[1, 3, 2]

In [ ]:
 a=[1,2,3,4,5,65,6,7]
 print(a)
 a[2]=22
 print(a)
 a[1:3]=[9]
 print(a)

[1, 2, 3, 4, 5, 65, 6, 7]
[1, 2, 22, 4, 5, 65, 6, 7]
[1, 9, 4, 5, 65, 6, 7]

In [ ]:
a=[1,2,['a','b',[8.0,8.5]],4,5,['sunday','monday',['july','june']]]
# print(a[0])
# print(a[1])
# print(a[2])
# print(a[3])
# print(a[4])
# print(a[5])
#Q.1
print(a[2][2][1])
#Q.2
a[3]=10
a[4]=11
print(a)
#Q.3
print(a[5][1])
#Q.4
print(a[5][2][1])

8.5
[1, 2, ['a', 'b', [8.0, 8.5]], 10, 11, ['sunday', 'monday', ['july', 'june']]]
monday
june

In [ ]:
a=[1,2,3,11,60,4,9,10,5,6,6]
print(max(a))
print(min(a))

60
1

In [ ]:
name=[]
while 1:
  a=input("enter any name: ")
  if a=="stop":
    break
  name.append(a)
print('there are',len(name),'name in the list')
print()
print(name)
print()
for name in name:
  print(name)

enter any name: pinki
enter any name: rinki
enter any name: kiran
enter any name: rakesh
enter any name: aansh
enter any name: abhi
enter any name: prince
enter any name: arushi
enter any name: anita
enter any name: stop
there are 9 name in the list

['pinki', 'rinki', 'kiran', 'rakesh', 'aansh', 'abhi', 'prince', 'arushi', 'anita']

pinki
rinki
kiran
rakesh
aansh
abhi
prince
arushi
anita

In [ ]:
a=[23,56,75,86,54,76,87,78,9,65,43,22,53]
print(a[-1])
i=1
while i<len(a):
  print(a[i],end=" ")
  i+=1

53
56 75 86 54 76 87 78 9 65 43 22 53

In [ ]:
a=[23,56,75,86,54,76,87,78,9,65,43,22,53]
i=0
t_m=0
while i<len(a):
  print(a[i])
  t_m+=a[i]
  i+=1
print("total marks: ",t_m)

23
56
75
86
54
76
87
78
9
65
43
22
53
total marks:  727

In [ ]:
a=[23,56,75,86,54,76,87,78,9,65,43,22,53]
i=0
l_t_50=0
m_t_50=0
while i<len(a):
  if a[i]<50:
    l_t_50+=1
  else:
    m_t_50+=1
  i+=1
print("less than 50: ",l_t_50)
print("more than 50: ",m_t_50)

less than 50:  4
more than 50:  9

In [ ]:
a=[50,40,23,70,56,12,5,10,56,34,23,57,43,4,2,1,3,4,5,7]
i=0
c=0
while i>=0:
  if a[i]==7:
    c+=1
    break
  c+=1
  i+=1
print("total no. of::",c)

total no. of:: 20

In [ ]:
a=[50,40,23,70,56,30,32,6,22,42,12,5,10,7]
i=0
c=0
while i<len(a):
  if a[i]>20 and a[i]<=40:
    c+=1
  i+=1
print("total no.between 20to 40: ",c)

total no.between 20to 40:  5

In [ ]:
a=[50,40,23,70,56,12,5,10,7,90]
print(max(a))
print(min(a))

90
5

In [ ]:
a=[50,40,23,70,56,12,5,10,7]
print(max(a))
a.remove(70)
print(max(a))

70
56

In [ ]:
p=['delhi','gujrat','rajsthan','punjab','kerala']

print(p[::-1])

['kerala', 'punjab', 'rajsthan', 'gujrat', 'delhi']

In [ ]:
n=['n','i','t','i','n']
p=[]
i=0
while i<len(n):
  p.append(n[i])
  i+=1
if n==p:
  print("Haan!,palindrome hai",p)
else:
  print("Nahi!,palindrome nahi hai",p)

Haan!,palindrome hai ['n', 'i', 't', 'i', 'n']

In [ ]:
n=['n','i','t','i','n','i']
p=[]
n.reverse()
print(n)
print(p)

['i', 'n', 'i', 't', 'i', 'n']
[]

In [ ]:
# Q>#####################         binary to decimal number
b_num=[1,0,0,1,1,0,1,1]
i=0
sum=0
while i<len(b_num):
  a=b_num[::-1]
  b=a[i]*(2**i)
  print(b)
  sum+=b
  i+=1
print("decimal number",sum)

1
2
0
8
16
0
0
128
decimal number 155

In [ ]:
binary_number = [1, 0, 0, 2, 1]
i=0
sum=0
while i<len(binary_number):
    a=binary_number[::-1]
    b=a[i]*(2**i)
    print(b)
    sum+=b
    i+=1
print("decimal number:",sum)

1
4
0
0
16
decimal number: 21

In [ ]:
binary_number = [1, 0, 0, "1", 1]
i=0
sum=0
while i<len(binary_number):
    a=binary_number[::-1]
    if type(a[i])==str:
        a[i]=int(a[i])
    b=a[i]*(2**i)
    print(b)
    sum+=b
    i+=1
print("decimal number:",sum)

1
2
0
0
16
decimal number: 19

In [ ]:
magic_square=[[8,3,4],[1,5,9],[6,7,2]]
print(type(magic_square))
print(type(magic_square[0]))
print(type(magic_square[1]))

print(sum(magic_square[0]))
print(sum(magic_square[1]))
print(sum(magic_square[2]))

<class 'list'>
<class 'list'>
<class 'list'>

TypeError: ignored

In [ ]:
listofnum=[i for i in range(0,10)]
print(listofnum)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list=[list(range(10))]

In [ ]:
magic_square=[
    [8,3,4],
    [1,5,9],
    [6,7,2]
]
row_sum=sum(magic_square[0])
row_sum1=sum(magic_square[1])
row_sum2=sum(magic_square[2])
colom_sum=(magic_square[0][0]+magic_square[1][0]+magic_square[2][0])
dia_sum=(magic_square[0][2]+magic_square[1][1]+magic_square[2][0])
print(row_sum)
print(row_sum1)
print(row_sum2)
print(colom_sum)
print(dia_sum)
if row_sum==row_sum1==row_sum2==colom_sum==dia_sum:
    print("this is a magic list",magic_square)
else:
    print("this is a not magic list",magic_square)

15
15
15
15
15
this is a magic list [[8, 3, 4], [1, 5, 9], [6, 7, 2]]

In [ ]:
magic_square = [
 [5, 3, 7],
 [1, 8, 9],
 [6, 4, 2]
]
row_sum=sum(magic_square[0])
row_sum1=sum(magic_square[1])
row_sum2=sum(magic_square[2])
colom_sum=(magic_square[0][0]+magic_square[1][0]+magic_square[2][0])
dia_sum=(magic_square[0][2]+magic_square[1][1]+magic_square[2][0])
print(row_sum)
print(row_sum1)
print(row_sum2)
print(colom_sum)
print(dia_sum)
if row_sum==row_sum1==row_sum2==colom_sum==dia_sum:
    print("this is a magic list",magic_square)
else:
    print("this is a not magic list",magic_square)

15
18
12
12
21
this is a not magic list [[5, 3, 7], [1, 8, 9], [6, 4, 2]]

In [ ]:
for i in range(5):
 while (i):
   print(i,end=" ")
   i-=1
 print()

1
2 1
3 2 1
4 3 2 1

In [ ]:

mainStr="the quick brown fox jumped over the lazy dog.the dog slept over the verandah."
subStr="over"
if subStr in mainStr:
   a = mainStr.replace(subStr,"")
   print(a)

the quick brown fox jumped  the lazy dog.the dog slept  the verandah.

In [ ]:

char_list=['a','n','t','a','a','t','n','n','a','x','u','g','a','x','a']
a=[]
i=0
while i<len(char_list):
    j=0
    b=[]
    c=1
    while j<len(char_list):
        if char_list[i]==char_list[j]:
            c+=1
        j+=1
    b.append(char_list[i])
    b.append(c)
    if b not in a:
        a.append(b)
    i+=1
print(a)

[['a', 7], ['n', 4], ['t', 3], ['x', 3], ['u', 2], ['g', 2]]

In [ ]:

n=[10,11,12,13,14,17,18,19]
b=[]
i=0
while i<len(n):
    j=i
    a=[]
    while j<len(n):
        c=n[i]+n[j]
        if c==30:
            print(c)
            a.append(n[i])
            a.append(n[j])
            b.append(a)
        j+=1
    i+=1
print(b)

30
30
30
[[11, 19], [12, 18], [13, 17]]

In [ ]:
print(-12%7)
print(7%-12)

2
-5

In [ ]:

a=[1,2,3,4,5,65,6,7]
print(a)
a[2]=22
print(a)
a[1:3]=[9]
print(a)

[1, 2, 3, 4, 5, 65, 6, 7]
[1, 2, 22, 4, 5, 65, 6, 7]
[1, 9, 4, 5, 65, 6, 7]

In [ ]:

a=[]
a.append(1)
a.append(2)
a.append(3)
a.append(2)
print(a)
a.remove(2)
print(a)

[1, 2, 3, 2]
[1, 3, 2]

In [ ]:

list_of_num=[i for i in range(0,10)]
print(list_of_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

num=list(range(10))
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:

even_num=[i for i in range(0,10,2)]
print(even_num)

[0, 2, 4, 6, 8]

In [ ]:

even_num=list(range(0,10,2))
print(even_num)

[0, 2, 4, 6, 8]

In [ ]:

str_with_comma="hi,pinki,how,are,you"
str_with_comma=str_with_comma.split(',')
print(str_with_comma)

['hi', 'pinki', 'how', 'are', 'you']

In [ ]:

str="pinki"
str_list=list(str)
print(str_list)

['p', 'i', 'n', 'k', 'i']

In [ ]:
num=123445
in_to_list=[int(i)for i in str(num)]
print(in_to_list)

SyntaxError: ignored

In [ ]:

# convert dictionary keys /value to list
m_dict={'a':1,'b':2,'c':3,'d':4}
print(m_dict)
key_list=list(m_dict.keys())
print(key_list)
value_list=list(m_dict.values())
print(value_list)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
['a', 'b', 'c', 'd']
[1, 2, 3, 4]

In [ ]:

  # list.extend()
list=['pinki','rinki','kiran']
list1=['rakesh','ansh','abhi']
list.extend(list1)
print(list)

['pinki', 'rinki', 'kiran', 'rakesh', 'ansh', 'abhi']

In [ ]:

# iteam index janne ke liye 
l=['pinki','rinki','kiran']
rinki_ki_index=l.index('rinki')
print(rinki_ki_index)
l.insert(rinki_ki_index+1,'six')
print(l)

1
['pinki', 'rinki', 'six', 'kiran']

In [ ]:

# list,remove('iteam')
l=['one','two','three']
l.remove('two')
print(l)

['one', 'three']

In [ ]:

# list.pop()  [list.pop method removes and returns us the element from the list]
l=['one','two','three']
poped=l.pop()
print(l)
print(poped)

['one', 'two']
three

In [ ]:

l=['one','two','three']
poped1=l.pop(1)
print(l)
print(poped1)

['one', 'three']
two

In [ ]:

# l.short [list.short method can be used to short the list either in ascending or descending order]
l=[6,3,1,8,5,5] 
l.sort()
print(l)
l.sort(reverse=True)
print(l)

[1, 3, 5, 5, 6, 8]
[8, 6, 5, 5, 3, 1]

In [ ]:

# l.reverse()
l=[24,5,5,4,3,5,6]
l.reverse()
print(l)

[6, 5, 3, 4, 5, 5, 24]

In [ ]:

l=[4,3,5,6,7,8,5]
print(max(l))
print(min(l))
print(sum(l))

8
3
38

In [ ]:

# [list.count] method to find how many time an iteam appears in the list.
l=['a','b','a','d','a']
count_a=l.count('a')
print(count_a)

3

In [ ]:

# list.clear [method to all the elements in the list.]
l=['A','B','B','C']
l.clear()
print(l)

[]

In [ ]:

l=[[78,76,94,86,88],[91,71,98,65,76],[95,45,78,52,49]]
l=[[78,76,94,86,88],[91,71,98,65],[95,45,78]]
sum0=sum(l[0])
print(sum0)
sum1=sum(l[1])
print(sum1)
sum2=sum(l[2])
print(sum2)
print(sum0+sum1+sum2)
print(sum(l[0]+l[1]+l[2]))

422
325
218
965
965

In [ ]:

a=65
print(chr(a))

A

In [ ]:

p="pinki"
i=0
while i<len(p):
    j=0  
    while j<=i:
        print(p[j],end=" ")
        j+=1
    i+=1
    print("\n")

p

p i

p i n

p i n k

p i n k i

In [ ]:

p="pinki"
i=0
while i<len(p):
    s=len(p)-i
    while s>0:
        print(" ",end='')
        s-=1
    j=0  
    while j<=i:
        print(p[j],end="  ")
        j+=1
    i+=1
    print("\n")

     p

    p  i

   p  i  n

  p  i  n  k

 p  i  n  k  i

In [ ]:

i=1
while i<=5:
    s=1
    while s<=5:
        print(" ",end=" ")
        s+=1
    j=i 
    while j<=i:
        print("* "*j,end=" ")
        j+=1
    i+=2
    print()

          *
          * * *
          * * * * *

In [ ]:

a=['pinki','rinki','kiran','rakesh','aansh','abhi']
b=[2,4,6,7,5,4]
i=0
while i<len(a):
    print(a[i],b[i])    
    i+=1

pinki 2
rinki 4
kiran 6
rakesh 7
aansh 5
abhi 4

In [ ]:

e=[23,14,56,12,19,9,15,25,31,42,43]
i=0
c=0
while i<len(e):
    if e[i]%2!=0:
         c+=1
         print(e[i])
    i+=1
print("total no. of odd:",c)

23
19
9
15
25
31
43
total no. of odd: 7

In [ ]:

e=[23,14,56,12,19,9,15,25,31,42,43]
i=0
e_s=0
o_s=0
while i<len(e):
    if e[i]%2!=0:
        o_s+=e[i]
    else:
        e_s+=e[i]
    i+=1
print("total sum of odd:",o_s)
print("total sum of even:",e_s)

total sum of odd: 165
total sum of even: 124

In [ ]:

e=[23,14,56,12,19,9,15,25,31,42,43]
i=0
e_c=0
o_c=0
e_s=0
o_s=0
while i<len(e):
    if e[i]%2!=0:
        o_s+=e[i]
        o_c+=1
    else:
        e_s+=e[i]
        e_c+=1
    i+=1
print("total avrage of odd:",o_s/o_c)
print("total avrgea of even:",e_s/e_c)

total avrage of odd: 23.571428571428573
total avrgea of even: 31.0

In [ ]:

e=[23,14,56,12,19,9,15,25,31,42,43]
i=0
e_c=0
o_c=0
e_s=0
o_s=0
while i<len(e):
    if e[i]%2!=0:
        o_s+=e[i]
        o_c+=1
    else:
        e_s+=e[i]
        e_c+=1
    i+=1
print("total no. of odd:",o_c)
print("total no. of even:",e_c)
print("total no.:",len(e))

print("total sum of odd:",o_s)
print("total sum of even:",e_s)
print("total no. of sum:",o_s+e_s)

print("total avrage of odd:",o_s/o_c)
print("total avrgea of even:",e_s/e_c)
print("total avroagef :",(o_s+e_s)/len(e))

total no. of odd: 7
total no. of even: 4
total no.: 11
total sum of odd: 165
total sum of even: 124
total no. of sum: 289
total avrage of odd: 23.571428571428573
total avrgea of even: 31.0
total avroagef : 26.272727272727273

In [ ]:

kitna_paisa_hai=[3000,600000,324990909,90990900,30000,5600000,690909090,31010101,532010,510,4100]
i=0
c=0
l=0
d=0
while i<len(kitna_paisa_hai):
    if kitna_paisa_hai[i]>=10000000:
        c+=1
    elif kitna_paisa_hai[i]>=100000:
        l+=1
    else:
        d+=1
    i+=1
print("no. of Crorepati log:",c)
print("no. of Lakhpati log:",l)
print("no. of Dilwale log:",d)

no. of Crorepati log: 4
no. of Lakhpati log: 3
no. of Dilwale log: 4

In [ ]:

n=[19,17,12,17,17,18,10,17,14,12,19,17,12,13,11]
a=[]
i=0
while i<len(n):
    if n[i] not in a:
        a.append(n[i])
    else:
        b.append(n[i])
    i+=1
print(a)
print(b)

[19, 17, 12, 18, 10, 14, 13, 11]
[2, 4, 6, 7, 5, 4, 17, 17, 17, 12, 19, 17, 12]

In [ ]:
###################### KBC   ###########################
######  without 50-50 life line    ############3
q_l=["tomato is a vegatable or fruit?",
     "what is a capital of india?",
     "NG me kon sa course karaya jata hai?",
     "when came covid in india?"
     ]
o_l=[["red color","fruit","vegatable","flower"],
     ["patna","bhopal","delhi","itanagar"],
      ["software engineering","counseling","tourism","agriculture"],
     [2021,2018,2020,2019]]
s_l=[2,3,1,4]
print("WELCOME TO THE KBC CONTEST")
i=0
while i<len(q_l):
  print("Aapka Sawal Hai :")
  print(q_l[i])
  print("Aapke Options Hai :")
  j=0
  while j<4:
    print(j+1,".",o_l[i][j])
    j+=1
  answer=int(input("Enter your anwer (if you choose option one so enter [1])::"))
  if q_l[i] and answer==s_l[i]:
    print("Congrates! Aapka Answer Sahi Hai")
    i+=1
  else:
    print("Aapka Answer Galat Hai")
    break

WELCOME TO THE KBC CONTEST
Aapka Sawal Hai :
tomato is a vegatable or fruit?
Aapke Options Hai :
1 . red color
2 . fruit
3 . vegatable
4 . flower
Enter your anwer (if you choose option one so enter [1])::2
Congrates! Aapka Answer Sahi Hai
Aapka Sawal Hai :
what is a capital of india?
Aapke Options Hai :
1 . patna
2 . bhopal
3 . delhi
4 . itanagar
Enter your anwer (if you choose option one so enter [1])::3
Congrates! Aapka Answer Sahi Hai
Aapka Sawal Hai :
NG me kon sa course karaya jata hai?
Aapke Options Hai :
1 . software engineering
2 . counseling
3 . tourism
4 . agriculture
Enter your anwer (if you choose option one so enter [1])::1
Congrates! Aapka Answer Sahi Hai
Aapka Sawal Hai :
when came covid in india?
Aapke Options Hai :
1 . 2021
2 . 2018
3 . 2020
4 . 2019
Enter your anwer (if you choose option one so enter [1])::2019
Aapka Answer Galat Hai

In [ ]:

   ###################### KBC   ###########################
   ###########  with 50-50 life line  #############
q_l=["tomato is a vegatable or fruit?",
     "what is a capital of india?",
     "NG me kon sa course karaya jata hai?",
     "when came covid in india?"
     ]
o_l=[["red color","fruit","vegatable","flower"],
     ["patna","bhopal","delhi","itanagar"],
      ["software engineering","counseling","tourism","agriculture"],
     [2021,2018,2020,2019]]
s_l=[2,3,1,4]
o_50_50=[["fruit","vegatable"],
         ["patna","delhi"],
         ["software engineering","agriculture"],
         [2020,2019]]
s_50_50_l=[1,2,1,2]
print("WELCOME TO THE KBC CONTEST")
c=0
i=0
while i<len(q_l):
  print("Aapka Sawal Hai :")
  print(q_l[i])
  print("Aapke Options Hai :")
  j=0
  while j<=3:
    print(str(j+1)+".",o_l[i][j])
    j+=1
  a=input("do you want to use 50-50 life line(yes or no):")
  if a=="yes":
    c+=1
    if c==1:
      k=0
      while k<2:
        print(str(k+1)+".",o_50_50[i][k])
        k+=1
      answer=int(input("Enter your anwer: "))
      if q_l[i] and answer==s_50_50_l[i]:
        print("Congrates! Aapka Answer Sahi Hai")
        i+=1
      else:
        print("Aapka Answer Galat Hai")
        break
    elif c!=1:
      print("Aap 50-50 life line ka use kr chuke ho")
      answer=int(input("Enter your anwer like 1,2: "))
      if q_l[i] and answer==s_l[i]:
       print("Congrates! Aapka Answer Sahi Hai")
       i+=1
      else:
       print("Aapka Answer Galat Hai")
       break
  else:
   answer=int(input("Enter your anwer like 1,2: "))
   if q_l[i] and answer==s_l[i]:
       print("Congrates! Aapka Answer Sahi Hai")
       i+=1
   else:
       print("Aapka Answer Galat Hai")
       break

WELCOME TO THE KBC CONTEST
Aapka Sawal Hai :
tomato is a vegatable or fruit?
Aapke Options Hai :
1. red color
2. fruit
3. vegatable
4. flower
do you want to use 50-50 life line(yes or no):
Enter your anwer like 1,2: 3
Aapka Answer Galat Hai

In [ ]:
l1=[1,2,3,4,5,6]
l2=[2,3,1,6,0,7]
l2.sort()
p=[]
i=0
while i<len(l1):
  if l1[i] not in l2:
    p.append(l1[i])
  i+=1
print(p)

[4, 5]

In [ ]:
num=[50,40,23,70,56,12,5,10,7]
num.sort(reverse=True)
print(num[1])

56

In [ ]:
li=[5,20,15,20,25,50,20]
for i in li:
  if i==20:
    li.remove(20)
print(li)

[5, 15, 25, 50]

In [ ]:
n=[10,11,12,13,14,17,18,19]
b=[]
i=0
while i<len(n):
    j=i
    a=[]
    while j<len(n):
        c=n[i]+n[j]
        if c==30:
            print(c)
            a.append(n[i])
            a.append(n[j])
            b.append(a)
        j+=1
    i+=1
print(b)

30
30
30
[[11, 19], [12, 18], [13, 17]]

In [ ]:
li=[99,45,28,67,2,35,11,2] 
num=int(input("enter number to search"))
if num in li:
  print('yes')    
else:
  print(num,"this is not in list")

enter number to search68
68 this is not in list

In [ ]:
p=[]
i=1
while i<=10:
  n=int(input("enter any number: "))
  p.append(n)
  i+=1
print(p)
j=0
while j<len(p):
  k=0
  while k<len(p):
    if p[j]<p[k]:
      p[j],p[k]=p[k],p[j]
    k+=1
  j+=1
print(p)

enter any number: 4
enter any number: 7
enter any number: 65
enter any number: 45
enter any number: 65
enter any number: 43
enter any number: 90
enter any number: 43
enter any number: 23
enter any number: 12
[4, 7, 65, 45, 65, 43, 90, 43, 23, 12]
[4, 7, 12, 23, 43, 43, 45, 65, 65, 90]

In [ ]:

li=[5,20,15,20,25,50,20]
for i in li:
  if i==20:
    li.remove(20)
print(li)      
li=[5,20,15,20,25,50,20]
for i in li:
  if i==20:
    li.remove(20)
print(li)

[5, 15, 25, 50]
[5, 15, 25, 50]

In [ ]:

l=[5,10,15,20,25,50,20]
index=l.index(20)
l[index]=200
print(l)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
l=['a','b',['c',['d','e',['f','g'],'k'],'l'],'m','n']
s_l=['h','i','j']
l[2][1][2].extend(s_l)
print(l)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
l=[10,20,[300,400,[5000,6000],500],30,40]
l[2][2].append(7000)
print(l)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:

l=['pinki','','rinki','rakesh','','aansh','abhi','']
for i in l:
  if i=="":
    l.remove("")
print(l)

['pinki', 'rinki', 'rakesh', 'aansh', 'abhi']

In [ ]:
l=[10,20,30,40]
l1=[100,200,300,400]
for i in range(len(l)):
    print(l[i],l1[i])

10 100
20 200
30 300
40 400

In [ ]:

l=['hello','take']
l1=['dear','sir']
a=[]
for i in range(len(l)):
  for j in range(len(l1)):
    a.append(l[i]+l1[j])
print(a)

['hellodear', 'hellosir', 'takedear', 'takesir']

In [ ]:

l=['M','na','i','Pin']
l1=['Y','me','s','ki']
for i in range(len(l)):
  print(l[i]+l1[i],end=" ")

MY name is Pinki

In [ ]:
a='7.8'
b=8
c='navgurukul'
print(str(int(float(a)))+c,"=",b)

7navgurukul = 8

In [ ]:

l=['M','na','i','Pin'] 
l1=['Y','me','s','ki']
l2=[i+j for i, j in zip(l,l1)]
print(l2)

['MY', 'name', 'is', 'Pinki']

In [ ]:

l=[1,2,3,4,5,6,7,8,9,10]
p=[]
for i in l:
   p.append(i**2)
print(p)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
b=[i**2 for i in list]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:

list=[1,2,3,4,5,6,7,8,9,10]
b=[i**3 for i in list]
print(b)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
b=[i*2 for i in list]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:

list=[1,2,3,4,5,6,7,8,9,10]
b=[i*5 for i in list]
print(b)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:

list=[ ['g', 'f', 'g'], ['i', 's'], ['b', 'e', 's', 't'] ]
#out put= gfgisbest
p="".join(list[0]+list[1]+list[2])
print(p)

gfgisbest

In [ ]:
################  KBC   ###################
q_l=["tomato is a vegatable or fruit?",
     "what is a capital of india?",
     "NG me kon sa course karaya jata hai?",
     "when came covid in india?"
     ]
o_l=[["red color","fruit","vegatable","flower"],
     ["patna","bhopal","delhi","itanagar"],
      ["software engineering","counseling","tourism","agriculture"],
     [2021,2018,2020,2019]]
s_l=['B','C','A','D']
print("WELCOME TO THE KBC CONTEST")
i=0
while i<len(q_l):
  print("Aapka Sawal Hai :")
  print(q_l[i])
  print("Aapke Options Hai :")
  j=0
  while j<=3:
    print(chr(j+65)+".",o_l[i][j])
    j+=1
  answer=input("Enter your anwer like('A','B'): ")
  if q_l[i] and answer==s_l[i]:
    print("Congrates! Aapka Answer Sahi Hai")
    i+=1
  else:
    print("Aapka Answer Galat Hai")
    break

WELCOME TO THE KBC CONTEST
Aapka Sawal Hai :
tomato is a vegatable or fruit?
Aapke Options Hai :
A. red color
B. fruit
C. vegatable
D. flower
Enter your anwer like('A','B'): A
Aapka Answer Galat Hai

In [ ]:
 ##################### KBC   ###########################
q_l=["tomato is a vegatable or fruit?",
     "what is a capital of india?",
     "NG me kon sa course karaya jata hai?",
     "when came covid in india?"
     ]
o_l=[["red color","fruit","vegatable","flower"],
     ["patna","bhopal","delhi","itanagar"],
      ["software engineering","counseling","tourism","agriculture"],
     [2021,2018,2020,2019]]
s_l=[2,3,1,4]
o_50_50=[["fruit","vegatable"],
         ["patna","delhi"],
         ["software engineering","agriculture"],
         [2020,2019]]
s_50_50_l=[1,2,1,2]
print("WELCOME TO THE KBC CONTEST")
c=0
i=0
while i<len(q_l):
  print("Aapka Sawal Hai :")
  print(q_l[i])
  print("Aapke Options Hai :")
  j=0
  while j<=3:
    print(str(j+1)+".",o_l[i][j])
    j+=1
  a=input("do you want to use 50-50 life line(yes or no):")
  if a=="yes":
    c+=1
    if c==1:
      k=0
      while k<2:
        print(str(k+1)+".",o_50_50[i][k])
        k+=1
      answer=int(input("Enter your anwer: "))
      if q_l[i] and answer==s_50_50_l[i]:
        print("Congrates! Aapka Answer Sahi Hai")
        i+=1
      else:
        print("Aapka Answer Galat Hai")
        break
    elif c!=1:
      print("Aap 50-50 life line ka use kr chuke ho")
      answer=int(input("Enter your anwer like 1,2: "))
      if q_l[i] and answer==s_l[i]:
       print("Congrates! Aapka Answer Sahi Hai")
       i+=1
      else:
       print("Aapka Answer Galat Hai")
       break
  else:
   answer=int(input("Enter your anwer like 1,2: "))
   if q_l[i] and answer==s_l[i]:
       print("Congrates! Aapka Answer Sahi Hai")
       i+=1
   else:
       print("Aapka Answer Galat Hai")
       break

WELCOME TO THE KBC CONTEST
Aapka Sawal Hai :
tomato is a vegatable or fruit?
Aapke Options Hai :
1. red color
2. fruit
3. vegatable
4. flower
do you want to use 50-50 life line(yes or no):
Enter your anwer like 1,2: 3
Aapka Answer Galat Hai

In [ ]:

l=[99,45,28,67,2,35,11,2]
n=int(input("enter any number: "))
for i in range(len(l)):
   if l[i]==n:
      print("elements founded",i)
      break
else:
   print("not founded")

enter any number: 35
elements founded 5

In [ ]:
l=[2,5,7,8,12]
print([i**2 for i in l])

[4, 25, 49, 64, 144]

In [ ]:

a=[]
b=[]
c=[]
d=[]
i=1
while i<=10:
   n=int(input("Enter any nuber: "))
   if n<0:
      b.append(n)
   if n>=0:
      a.append(n)
   if n%2==0:
      c.append(n)
   if n%2!=0:
      d.append(n)
   i+=1
print("list of positive number",a)
print("list of negetive number",b)
print("list of even number",c)
print("list of odd number",d)

Enter any nuber: 2
Enter any nuber: -9
Enter any nuber: 5
Enter any nuber: 0
Enter any nuber: -6
Enter any nuber: -5
Enter any nuber: 3
Enter any nuber: 8
Enter any nuber: 1
Enter any nuber: 4
list of positive number [2, 5, 0, 3, 8, 1, 4]
list of negetive number [-9, -6, -5]
list of even number [2, 0, -6, 8, 4]
list of odd number [-9, 5, -5, 3, 1]

In [ ]:

#product of list
p=1
l=[6,1,3,5,6,3,1] 
for i in l:
   p*=i
print(p)

1620

In [ ]:

a=[]
l=[1,2,2,5,8,4,4,8]
for i in l:
   if i not in a :
      a.append(i)
print(a)
print("count",len(a))

[1, 2, 5, 8, 4]
count 5

In [ ]:

l=[99,45,28,67,2,35,11,2]
l.sort()
print("first maximum number",l[-1])
print("second maximum number",l[-2])
print("third maximum number",l[-3])

first maximum number 99
second maximum number 67
third maximum number 45

In [ ]:

n=int(input("Enter any number"))
i=str(n)
for a in i:
 print(int(a)**2,end="")

Enter any number7654
49362516

In [ ]:

 
a='124'
for i in range(len(a)):
   if i==len(a)-1:
      print(a[i])
      break
   else:
    print(a[i]+"0"*(len(a)-i-1),"+",end=" ")

100 + 20 + 4

In [ ]:


a=int(input('num : '))
b=str(a)
for i in range(len(b)):
   if i==len(b)-1:
      print(b[i])
   else:
    print(b[i]+"0"*(len(b)-i-1),"+",end=" ")

num : 6542
6000 + 500 + 40 + 2

In [ ]:
l=[1,1,2,3,4,4,5,1]
p=[]
for i in (l):
   a=[]
   b=l.count(i)
   if b>1:
      a.append(b)
      a.append(i)
      if a not in p:
        p.append(a)
   else: 
      p.append(i)
print(p)

[[3, 1], 2, 3, [2, 4], 5]

In [ ]:

char_list=['a','n','t','a','a','t','n','n','a','x','u','g','a','x','a']
a=[]
i=0
while i<len(char_list):
    j=0
    b=[]
    c=1
    while j<len(char_list):
        if char_list[i]==char_list[j]:
            c+=1
        j+=1
    b.append(char_list[i])
    b.append(c)
    if b not in a:
        a.append(b)
    i+=1
print(a)

[['a', 7], ['n', 4], ['t', 3], ['x', 3], ['u', 2], ['g', 2]]

In [ ]:
mainStr="the quick brown fox jumped over the lazy dog.the dog slept over the verandah."
subStr="over"
if subStr in mainStr:
   a = mainStr.replace(subStr,"")
   print(a)

the quick brown fox jumped  the lazy dog.the dog slept  the verandah.

In [ ]:

p=[]
i=1
while i<=10:
  n=int(input("enter any number: "))
  p.append(n)
  i+=1
print(p)
j=0
while j<len(p):
  k=0
  while k<len(p):
    if p[j]<p[k]:
      p[j],p[k]=p[k],p[j]
    k+=1
  j+=1
print(p)
print("max",p[-1])
print("min",p[0])

In [ ]:
# Use the zip() function. this function takes two or more iterables (like list, dict,string) aggregates them in a tuple, and returns it.
l=['M','na','i','Pin'] 
l1=['Y','me','s','ki']
l2=[i+j for i, j in zip(l,l1)]
print(l2)

['MY', 'name', 'is', 'Pinki']

In [ ]:
#########################    DOCS QUESTION     ############################

In [ ]:
# QUESTION 1
grocery_list = ['flour','cheese','carrots']
i=0
while i<len(grocery_list):
  print(str(i)+":",grocery_list[i])
  i+=1
#=> 0: flour
#=> 1: cheese
#=> 2: carrots

0: flour
1: cheese
2: carrots

In [ ]:
# QUESTION 2
list=[ ['g', 'f', 'g'], ['i', 's'], ['b', 'e', 's', 't'] ]
#out put= gfgisbest
p="".join(list[0]+list[1]+list[2])
print(p)

gfgisbest

In [ ]:
# QUESTION 14
l=[1,1,2,3,4,4,5,1]
p=[]
c=1
for i in (l):
   a=[]
   a.append(i)
   if i in a:
     c+=1
     a[0]=c
     a.append(a)
     p.append(a)
   else:
     p.append(i)
print(p)
   
#    b=l.count(i)
#    if b>1:
#       a.append(b)
#       a.append(i)
#       if a not in p:
#         p.append(a)
#    else: 
#       p.append(i)
# print(p)

[1, 1, 2, 3, 4, 4, 5, 1]

In [ ]:
# QUESTION 18
s = [6, 2, 3, 8]  
s.sort()
for i in range(6):
   if i==0:
     if s[i]==s[i+1]-1:
       pass
     else:
        s.insert(i,s[i]+1)
   else:
      if s[i]==s[i-1]+1:
         pass
      else:
         s.insert(i,s[i-1]+1)
print(s)

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
# QUESTION 19
n=int(input("enter number"))
s=(n)**2 + (n-1)**2
print(s)

enter number5
41

In [ ]:
# QUESTION 20
n= int(input("enter number :"))
a=[20,37,20,21]
i=1
while i<=n:
    a.pop(-i-1)
    i+=1
print(a)

enter number :1
[20, 37, 21]

In [ ]:
# QUESTION 20
n= int(input("enter number :"))
a=[1,1,1,1,1,1,1]
i=1
while i<=n:
    a.pop(-i-1)
    i+=1
print(a)

enter number :2
[1, 1, 1, 1, 1]

In [ ]:
# QUESTION 24
l=[1,2,3,1,2,2]
# r=[1,2,3]
r=[]
for i in range (len(l)):
    if l[i] not in r:
        r.append(l[i])
print(r)

[1, 2, 3]

In [ ]:
# QUESTION 28
l=[1,2,3,1,4,5,1,2]
for i in l:
    print(i)
    if i==1:
        print(i,"pp")
        l.remove(1)
print(l)

li=[5,20,15,20,25,50,20]
# li.remove(20)
for i in li:
   if i==20:
     li.remove(20)
print(li)      

l=[1,1,2,3,4,5,1,2]
for i in range(len(l)):
    if l[i]==1:
        continue
print(l)

1
1 pp
3
1
1 pp
5
1
1 pp
[2, 3, 4, 5, 2]
[5, 15, 25, 50]
[1, 1, 2, 3, 4, 5, 1, 2]

In [ ]:
# QUESTION 29
l=[5,6,[],3,[],9]
for i in l:

    if i==[]:
       l.remove([])
    print(l)

[5, 6, [], 3, [], 9]
[5, 6, [], 3, [], 9]
[5, 6, 3, [], 9]
[5, 6, 3, 9]

In [ ]:
# QUESTION 30
list=[2,-7,5,-64,-14]
c_n=0
c_p=0
for i in range(len(list)):
    if list[i]<0:
        c_n+=1
    else:
        c_p+=1
print("count of negetive:",c_n)
print("count of positive:",c_p)

count of negetive: 3
count of positive: 2

In [ ]:
# QUESTION 31
s=int(input("start number: "))
e=int(input("end number: "))
r=[]
for i in range(s,e):
    if i<0:
        r.append(i)
print(r)

start number: -8
end number: 8
[-8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
# QUESTION 32
s=int(input("start num: "))
e=int(input("end num: "))
r=[]
for i in range(s,e):
    if i>=0:
        r.append(i)
print(r)

start num: -3
end num: 9
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# QUESTION 33

l=[12,67,98,34]
r=[]
for i in range(len(l)):
    sum=0
    j=l[i]
    while j>0:
        a=j%10
        sum+=a
        j//=10
    r.append(sum)
print(r)

[3, 13, 17, 7]

In [ ]:
# QUESTION 34
l=[34.67,12,-94.89,'pinki',0,'c#']
r=[]
for i in l:
    if type(i)==int:
        r.append(i)
print(r)

[12, 0]

In [ ]:
# QUESTION 35
l=['aabc','abc','ab','hc']
c=1
for i in range(len(l)-1):
    # a=str(l[i])
    # b=str(l[i+1])
    if (l[i][0])==(l[i+1][0]):
        c+=1
if c==len(l):
    print(True)
else:
    print(False)

False

In [ ]:
l=[1234,922,1984,19372,100]
c=1
for i in range(len(l)-1):
    a=str(l[i])
    b=str(l[i+1])
    if (a[0])==(b[0]):
        c+=1
if c==len(l):
    print(True)
else:
    print(False)

False

In [ ]:
# QUESTION 35
l=[1234,122,1984,19372,100]
c=1
for i in range(len(l)-1):
    a=str(l[i])
    b=str(l[i+1])
    if (a[0])==(b[0]):
        c+=1
if c==len(l):
    print(True)
else:
    print(False)

True

In [ ]:
# QUESTION 36
l=['1','2','3','4','5','6','7','8']
r=[]
for i in range(0,len(l)-1,2):
    a=l[i]+l[i+1]
    r.append(a)
print(r)

l=['1','2','3']
r=[]
for i in range(0,len(l)-1,2):
    a=l[i]+l[i+1]
    r.append(a)
print(r)

['12', '34', '56', '78']
['12']

In [ ]:
# QUESTION 37
l=[1,2,3,4,5,6]
r=[]
for i in range(len(l)-1):
    s=[]
    j=i
    while j < (i+2):
       s.append(l[j])
       j+=1
    r.append(s)
print(r)

l=[1,2,3,4,5]
r=[]
for i in range(len(l)-1):
    s=[]
    j=i
    while j < (i+2):
       s.append(l[j])
       j+=1
    r.append(s)
print(r)

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 6]]
[[1, 2], [2, 3], [3, 4], [4, 5]]

In [ ]:
# QUESTION 38
str="https://www.w3resource.com/python-exercises/list/"
l=['.com','.edu','.tv']
for i in range(len(l)):
    if l[i] in str:
        print(True)
        break
    else:
        print(False)

True

In [ ]:
s='https://www.w3resource.net'
m=['.com','.edu','.tv']
for i in range(len(l)):
    if m[i] in s:
        print(True)
        break
    else:
        print(False)

False
False
False

In [ ]:
# QUESTION 39
l=[[0,1,2],[2,3,4],[3,4,5,6],[7,8,9,10,11],[12,13,14]]

max_len=0
i=0
while i<len(l):
    max_len=max(max_len,len(l[i]))
    i+=1

j=0
while j<len(l):
    if len(l[j])< max_len:
        l[j].append('a')
    else:
        j+=1

p=0
r=[]
while p<max_len:
    q=0
    c=0
    sum=0
    while q<len(l):
        if l[q][p]=='a':
            q+=1
        else:
            sum=sum+l[q][p]
            c+=1
            q+=1
    a=sum/c
    r.append(a)
    p+=1
print(r)

[4.8, 5.8, 6.8, 8.0, 11.0]

In [ ]:
# QUESTION 40

l=[[1, 2, 4],[ 4],[1, 2,9,5]]
max_len=0
i=0
while i<len(l):
    max_len=max(max_len,len(l[i]))
    i+=1

j=0
while j<len(l):
    if len(l[j])< max_len:
        l[j].append(0)
    else:
        j+=1
p=0
r=[]
while p<max_len:
    q=0
    sum=0
    while q<len(l):
        sum=sum+l[q][p]
        q+=1
    r.append(sum)
    p+=1
print(r)

[6, 4, 13, 5]

In [ ]:
# QUESTION 41
l=[[1,2],[2,4]]
r=0

for i in range(len(l)):
    r+=1
    c=0
    for j in range(len(l[i])):
        c+=1
print((r,c))

In [ ]:
# QUESTION 42
l=['a','b','c','d','e','f','g','h']
n=int(input("enter moved index: "))
i=n
r=[]
while i<len(l):
    r.append(l[i])
    i+=1
j=0
while j<n:
    r.append(l[j])
    j+=1
print(r)

enter moved index: 2
['c', 'd', 'e', 'f', 'g', 'h', 'a', 'b']

In [ ]:

        
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print(" ",end=" ")
    for j in range(i):
        c+=1
        print("🇮🇳",end=' ')
    for j in range(i+1):
        c+=1
        print("🇮🇳",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,a):
        c+=1
        print("🇮🇳",end=" ")
    for j in range(i,a-1):
        c+=1
        print("🇮🇳",end=" ")
    print()
print("count of space :",c)

num :4
        🇮🇳
      🇮🇳 🇮🇳 🇮🇳
    🇮🇳 🇮🇳 🇮🇳 🇮🇳 🇮🇳
  🇮🇳 🇮🇳 🇮🇳 🇮🇳 🇮🇳 🇮🇳 🇮🇳
    🇮🇳 🇮🇳 🇮🇳 🇮🇳 🇮🇳
      🇮🇳 🇮🇳 🇮🇳
        🇮🇳
count of space : 25

In [ ]:
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print(" ",end=" ")
    for j in range(i):
        c+=1 
        print("💗",end=' ')
    for j in range(i+1):
        c+=1
        print("💗",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,a):
        c+=1
        print("💗",end=" ")
    for j in range(i,a-1):
        c+=1
        print("💗",end=" ")
    print()
print("count of space :",c)

num :6
            💗
          💗 💗 💗
        💗 💗 💗 💗 💗
      💗 💗 💗 💗 💗 💗 💗
    💗 💗 💗 💗 💗 💗 💗 💗 💗
  💗 💗 💗 💗 💗 💗 💗 💗 💗 💗 💗
    💗 💗 💗 💗 💗 💗 💗 💗 💗
      💗 💗 💗 💗 💗 💗 💗
        💗 💗 💗 💗 💗
          💗 💗 💗
            💗
count of space : 61

In [ ]:
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print("⬜",end=" ")
    for j in range(i):
        c+=1
        print("🟦",end=' ')
    for j in range(i+1):
        c+=1
        print("🟦",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print("⬜",end=" ")
    for j in range(i,a):
        c+=1
        print("🟦",end=" ")
    for j in range(i,a-1):
        c+=1
        print("🟦",end=" ")
    print()
print("count of space :",c)

num :3
⬜ ⬜ ⬜ 🟦
⬜ ⬜ 🟦 🟦 🟦
⬜ 🟦 🟦 🟦 🟦 🟦
⬜ ⬜ 🟦 🟦 🟦
⬜ ⬜ ⬜ 🟦
count of space : 13

In [ ]:
ist=['abc', 'xyz', 'aba', '1221']
# result= 2.
i=0
c=0
while i<len(ist):
  if ist[i][0]==ist[i][-1]:
    c+=1
  i+=1
print(c)

2

In [ ]:
l=[1,2,3]
for i in range(3):
  for j in range(3):
    for k in range(3):
      if (i!=j and j!=k and i!=k):
        print(l[i], l[j], l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
a=[1,2]
print(a*3)

[1, 2, 1, 2, 1, 2]

In [ ]:
l=[5,3,8,4,6]
i=0
while i <len(l)-1:
  if l[i]>l[i+1]:
    l[i],l[i+1]=l[i+1],l[i]
  i+=1
print(l)
print(l[-1])
print(l[0])

[3, 5, 4, 6, 8]
8
3

In [ ]:
l=[1,2,3,5,6,8,0]
l.sort()
for i in range(len(l)):
  if l[i]==l[i+1]-1:
    pass
  else:
    l.insert(i,l[i+1])

In [ ]:
word="Miss Pinki Kumari"
n=len(word)
word1=word.upper()
word2=word.lower()
convert=""
for i in range(n):
  if i%2 ==0:
    convert+=word2[i]
  else:
    convert+=word1[i]
print(convert)

mIsS PiNkI KuMaRi

In [ ]:
a=[[],'abc',[0],1,0]
print(list(filter(bool,a)))

['abc', [0], 1]

In [ ]:
def fin():
  global value
  value='local'
value='global'
fin()
print(value)

local

In [ ]:
a=[2,4,6,6,7,7]
b=a.pop(4)
print(b)

7

In [ ]:
def solve(a,b):
  return b if a ==0 else solve(b%a,a)
print(solve(20,50))

10

In [ ]:
word='pinki kumari'
new_word=''
for old in word:
  if old in "qwertyuioplkjhgfdsazxcvbnm":
    new_word=chr(ord(old)-32)
  else:
    new_word=old
  new_word+=new_word
print(new_word)

II

In [ ]:
############################  ARRAY ASSIGNMENT    ##########################

In [ ]:
################    REVERSE AN ARRAY    #######################

n=int(input("enter size of list :"))
p=[0]*n
i=0
j=-1
while i<n:
    a=input('num :')  
    p[j]=a
    j-=1
    i+=1
print(p)

enter size of list :5
num :apple
num :4k
num :4.6
num :3
num :True
['True', '3', '4.6', '4k', 'apple']

In [ ]:
######################### ( MEAN   , MEDIAN  ,  MODE ) FIND IN ARRAY  ##############  
t=int(input("size :"))
p=1
a=[]
sum=0
while p<= t:
    n=int(input("num :"))
    sum+=n
    a.append(n)
    p+=1
a.sort()
print(a)
print("MEAN :",sum/t)
if t%2==0:
    b=t//2
    print("MEDIAN :",(a[b-1]+a[b])/2)
else:
    b=t//2
    print("MEDIAN :",a[b])

num=0
feq=0
num1=''
i=0
while i<t:
    j=i
    c=0
    while j<t:
        if a[i]==a[j]:
            c+=1
        j+=1
    if c>feq:
        feq=c
        num=a[i]
    elif c==feq:
        num1+=str(a[i])+","
    i+=1
print("num :",num1,num,"feq :",feq)

size :6
num :3
num :7
num :5
num :3
num :7
num :9
[3, 3, 5, 7, 7, 9]
MEAN : 5.666666666666667
MEDIAN : 6.0
num : 7, 3 feq : 2

In [ ]:

###############  FEQUNCY    QUESTION           ######################$

n=int(input("size :"))
a=[0]*n
k=0
while k<n:
    b=int(input("num :"))
    a[k]=b
    k+=1
print(a)
num=0
feq=0
num1=''
i=0
while i<len(a):
    j=i
    c=0
    while j<len(a):
        if a[i]==a[j]:
            c+=1
        j+=1
    if c>feq:
        feq=c
        num=a[i]
    elif c==feq:
        num1+=str(a[i])+","
    i+=1
print("num :",num1,num,"feq :",feq)

size :4
num :1
num :2
num :3
num :5
[1, 2, 3, 5]
num : 2,3,5, 1 feq : 1

In [ ]:
#########   WITHOUT USING APPEND HOW TO MAKE LIST     ############################################

n=int(input("num :"))
p=[None]*n
i=0
while i <n:
    a=int(input("Number :"))
    p[i]=a
    i+=1
print(p)

num :5
Number :34
Number :78
Number :4
Number :34
Number :8
[34, 78, 4, 34, 8]

In [ ]:
#######################  REVERCE AN ARRAY       ##############################
n=int(input("num :"))
p=[None]*n
i=0
j=-1
while i <n:
    a=int(input("Number :"))
    p[j]=a
    j-=1
    i+=1
print(p)

num :6
Number :3
Number :8
Number :5
Number :3
Number :1
Number :9
[9, 1, 3, 5, 8, 3]

In [ ]:
# 2. Find the mean, median and mode in an array 
t=int(input("size :"))
i=1
p=[]
sum=0
while i <= t:
    n=int(input("num :"))
    sum+=n
    p.append(n)
    i+=1
p.sort()
print(p)
print("MEAN :",sum/t)
if t%2==0:
    b=t//2
    print("MEDIAN :",(p[b-1]+p[b])/2)
else:
    b=t//2
    print("MEDIAN :",p[b])
#######################
n=int(input("size :"))
a=[0]*n
k=0
while k<n:
    b=int(input("num :"))
    a[k]=b
    k+=1
print(a)
num=0
feq=0
num1=''
i=0
while i<len(a):
    j=i
    c=0
    while j<len(a):
        if a[i]==a[j]:
            c+=1
        j+=1
    if c>feq:
        feq=c
        num=a[i]
    elif c==feq:
        num1+=str(a[i])+","
    i+=1
print("num :",num1,num,"feq :",feq)

In [ ]:
# 3. Print the elements of an array of size N, in a rotated manner with a gap of K. Eg, let us say 
# the array is - 3, 6, 7, 5, 10. And the value of k = 3. The output should 
# be - 7, 3, 10, 6, 5. If k = 2, the output should be - 6, 5, 3 10, 7

n=int(input("enter size :"))
l=[0]*n
i=0
while i<n:
    a=int(input("num :"))
    l[i]=a
    i+=1
print(l)

k=int(input("Rotation Iteam :"))
count_k=0
i=0
size=0
while True:
    if type(l[i])==int:
        if size==n-1:
            print(l[i])
            break
        count_k+=1
        if count_k==k:
            print(l[i],end=" ")
            l[i]=None
            size+=1
            count_k=0
        i+=1
        if i==n:
            i=i%n
    else:
        i+=1
        if i==n:
            i=i%n
            

# [2,6,5,9,21,4,8,0]
# k=2
# [6,9,4,0,5,8,21,2]

enter size :8
num :2
num :6
num :5
num :9
num :21
num :4
num :8
num :0
[2, 6, 5, 9, 21, 4, 8, 0]
Rotation Iteam :2
6 9 4 0 5 8 21 2

In [ ]:
# 4. Find duplicate elements in an array
size=int(input("enter the size :"))
l=[None]*size
for i in range (size):
    a=int(input("num :"))
    l[i]=a
print(l)

p=0
num=''
for j in range(size-1):
    k=j+1
    c=0
    while k<(size):
        if l[j]==l[k]:
            c+=1
        k+=1
    if c==1:
        print(l[j],end=",")
print("DUPLICAKE ALIMENT:")

# [8,12,24,24,12,9,8]
# [12,24,8]

enter the size :7
num :8
num :12
num :24
num :24
num :12
num :9
num :8
[8, 12, 24, 24, 12, 9, 8]
8,12,24,DUPLICAKE ALIMENT:

In [ ]:
# 5. Merge two sorted arrays into a single sorted array 
n=int(input("enter size :"))
x=[None]*n
p=0
while p<n:
    a=int(input("num :"))
    x[p]=a
    p+=1
m=int(input("enter size :"))
y=[None]*m
q=0
while q<m:
    b=int(input("num :"))
    y[q]=b
    q+=1
    
list1=[0]*(n+m)
i=0
j=0
k=0
while k<(m+n):
    if j>=m:
        list1[k]=x[i]
        i+=1
    elif i>=n:
        list1[k]=y[j]
        j+=1
    elif x[i]<=y[j]:
        list1[k]=(x[i])
        i+=1
    else:
        list1[k]=(y[j])
        j+=1
    k+=1
print("Sort Marge Array:",list1) 
# [23,32,45,67,89]
# [22,24,45,67,89,90]
# [22,23,24,32,45,45,67,67,89,89,90]

enter size :5
num :23
num :32
num :45
num :67
num :89
enter size :6
num :22
num :24
num :45
num :67
num :89
num :90
Sort Marge Array: [22, 23, 24, 32, 45, 45, 67, 67, 89, 89, 90]

In [ ]:
# 6. Given an unsorted array of size N that contains only non-negative integers, find a contiguous 
# subarray that adds to a given number S. In case of multiple subarrays, return the subarray 
# which comes first on moving from left to right. Eg, let us say the array is - 3, 6, 7, 5, 10. 
# And the value of S = 12. The output should be - 7, 5
n=int(input("enter the size :"))
l1=[0]*n
for i in range (n):
    a=int(input("num :"))
    l1[i]=a
for i in range(n):
    for j in range(i+1,n):
        if l1[i]>l1[j]:
            l1[i],l1[j]=l1[j],l1[i]

false=False   
S=int(input("enter the sum : "))
for i in range(n-1):
    if l1[i]+l1[i+1]==S:
        print((l1[i],l1[i+1]))
        false=True
if false==False :
    print("NOT FOUND")

In [ ]:
###################################   SELECTION SORT       #################################
size=int(input("Enter num :"))
p=[0]*size
for i in range(size):
    a=int(input("num :"))
    p[i]=a
print(p)

j=0
while j<(size-1):
    k=j+1
    min=j
    while k<(size):
        if p[k]<p[min]:
            min=k
        k+=1
    if p[j]<=p[min]:
        pass
    else:
        p[j]=p[j]*p[min]
        p[min]=p[j]//p[min]
        p[j]=p[j]//p[min]
    j+=1
print(p)

Enter num :5
num :21
num :6
num :9
num :33
num :3
[21, 6, 9, 33, 3]
[3, 6, 9, 21, 33]

In [ ]:
def fun(a,b):
  c=a+b
  return
print(fun(3,6))

None

In [ ]:
##########################  list assignment   ###########################
# Q.1
a=[0]*4
for i in range(4):
    n=input("enter house name :")
    a[i]=n
print(a)

name=list(map(str,input("Enter house name :").split()))
print(name)

In [ ]:
# Q.2
a=["mercury","venus","earth","mars","jupitar","saturn","neptune","uranus"]
n=int(input("enter the planet name :"))
print(a[n-1])

enter the planet name :3
earth

In [ ]:
# Q.3
l=[i for i in range(30) if i%2!=0]
print(l)
for i in range(len(l)):
    if i%2!=0:
        print(l[i],end=" ")

l[1::2]

In [ ]:
## Q .4
Array=list(i*2 for i in range(10))   
print(Array)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# #  Q.5
l=list(map(int,input("enter number :").split()))
print(l)

l=[0]*4
for i in range(4):
    a=int(input("enter num :"))
    l[i]=a
print(l)

In [ ]:
# # Q .6
l=[33,56,33,78,54,78,32,21,90]
check_num=int(input("enter check num :"))
if check_num in l:
    print("YES")
else:
    print("NO")

enter check num :67
NO

In [ ]:
# Q.7
list1=list(map(int,input("enter number :").split()))
print(list1) 
# print(min(list1)) 
min=list1[0]
for i in list1:
    if i<min:
        min=i
print(min)

enter number :34 56 789 24 65 89 43 2
[34, 56, 789, 24, 65, 89, 43, 2]
2

In [ ]:
# Q.8
list=[1,4,8,6,7,8,1,3,2,1]
num=int(input("enter the num :"))
flag=0
for i in list:
    if i==num:
        flag=1
        print(list.count(i))
        break
if flag==0:
    print("Don't Access in this Array")

In [ ]:
# Q.9
list=['T', 'H', 'T', 'H', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'T',
'H', 'H', 'H', 'H', 'H', 'H', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'H', 'T', 'H', 'H', 'T', 'H', 'H',
'H', 'T', 'T', 'H', 'H', 'H', 'H', 'T', 'H', 'H', 'T', 'T', 'T', 'H', 'T', 'H', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T',
'T', 'T', 'H', 'T', 'T', 'H', 'H', 'T', 'T', 'T', 'T', 'T', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'T', 'H', 'H', 'H', 'T',
'H', 'T', 'H']
sum_H=0
sum_T=0
i=0
while i<len(list)-2:
    if list[i]=="T":
        if list[i+1]=="T" and list[i+2]=="T":
          if list[i+3]=="T":
            i=i+4
          else:
            i+=3
          sum_T+=1
            
    else:
        if list[i+1]=="H" and list[i+2]=="H":
          if list[i+3]=="H":
            i+=4
          else:
            i+=3
          sum_H+=1

    i+=1
print("The count of H :",sum_H,"The count of H : ",sum_T)
print("Total count :", sum_H+sum_T)

The count of H : 5 The count of H :  7
Total count : 12

In [ ]:
# Q.10
l=[]
c=1
i=1
while i<=4:
    a=[c]*4
    l.append(a)
    i+=1 
print(l)

a=[[1]*4]*4
print(a)

[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]
[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1]]

In [ ]:
# Q.11
l=[]
i=1
while i<=16:
    a=[0]*4
    j=0
    while j<4:
        a[j]=i
        i+=1
        j+=1
    l.append(a)
print(l)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [ ]:
# Q.12
l=[]
num=int(input("enter num :"))
i=1
while i<=4:
    a=[num]*4
    l.append(a)
    i+=1
print(l)

enter num :45
[[45, 45, 45, 45], [45, 45, 45, 45], [45, 45, 45, 45], [45, 45, 45, 45]]

In [ ]:
l=[]
i=1
while i<=16:
    a=[0]*4
    j=0
    while j<4:
      num=int(input("enter start num :"))
      a[j]=num
      i+=1
      j+=1
    l.append(a)
print(l)

In [ ]:
# Q.13
l=[[2,4,6],
   [7,8,9],
   [1,2,3]]
# row=[]
# colom=[]
# for i in range(len(l)):
#     for j in range(len(l)):
#         if i==1 :
#             row.append(l[i][j])
#         if j==2:
#             colom.append(l[i][j])
# print("elements of 2 row :",row,"elements of 3 colom :",colom)

for i in range(3):
  print(l[1][i],end=" ")
print()
for j in range(3):
  print(l[j][2],end=" ")

7 8 9
6 9 3

In [ ]:

# Q.14
l=[[2,4,6],
   [7,8,9],
   [1,2,3]]
m=int(input("enter which row :"))
n=int(input("enter which colom :"))
row=[]
colom=[]
for i in range(len(l)):
    for j in range(len(l)):
        if i==m-1 :
            row.append(l[i][j])
        if j==n-1:
            colom.append(l[i][j])
print("elements of row :",row,"elements of colom :",colom)

enter which row :1
enter which colom :2
elements of row : [2, 4, 6] elements of colom : [4, 8, 2]

In [ ]:
#   ..OO.OO..
#   .OOOOOOO.
#   .OOOOOOO.
#   ..OOOOO..
#   ...OOO...
#   ....O....

#  Q.19
a=      [['.', '.', '.', '.', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['.', 'O', 'O', 'O', 'O', 'O'],
        ['O', 'O', 'O', 'O', 'O', '.'],
        ['O', 'O', 'O', 'O', '.', '.'],
        ['.', 'O', 'O', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.']]
for i in range(6):
  for j in range(9):
    print(a[j][i],end=" ")
  print()

. . O O . O O . .
. O O O O O O O .
. O O O O O O O .
. . O O O O O . .
. . . O O O . . .
. . . . O . . . .

In [ ]:
#top             right
#  left          
a=[[ 1 ,2  ,3   ,4  ,5],
   [16 ,17 ,18  ,19 ,6],
   [15 ,24 ,25  ,20 ,7],
   [14 ,23 ,22  ,21 ,8],
   [13 ,12 ,11  ,10 ,9]]
# bottom
n=int(input(" n :"))
top,bottom=0,n
left,right=0,n
d=0
while top<bottom and left<right:
  if d==0:
    for i in range(left,right):
      print(a[top][i],end=" ")
    top+=1
  elif d==1:
    for i in range(top,bottom):
      print(a[i][right-1],end=" ")
    right-=1
  elif d==2:
    for i in range(right-1,left-1,-1):
      print(a[bottom-1][i],end=" ")
    bottom-=1
  elif d==3: 
    for i in range(bottom-1,top-1,-1):
      print(a[i][left],end=" ")
    left+=1
  d=(d+1)%4

 n :5
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [ ]:
###   Q. 20
num=int(input("enter the num :"))
n_list=[[1 for x in range(num)]for y in range(num)]       
n=1
low=0
high=num-1
count=int((num+1)/2)
for i in range(count):
  for j in range(low,high+1):
    n_list[i][j]=n
    n+=1
  for j in range(low+1,high+1):
    n_list[j][high]=n
    n+=1
  for j in range(high-1,low-1,-1):
    n_list[high][j]=n
    n+=1
  for j in range(high-1,low,-1):
    n_list[j][low]=n
    n+=1
  low+=1
  high-=1
for i in range(num):
  for j in range(num):
    print(n_list[i][j],end="\t")
  print()
  print()

enter the num :10
1	2	3	4	5	6	7	8	9	10

36	37	38	39	40	41	42	43	44	11

35	64	65	66	67	68	69	70	45	12

34	63	84	85	86	87	88	71	46	13

33	62	83	96	97	98	89	72	47	14

32	61	82	95	100	99	90	73	48	15

31	60	81	94	93	92	91	74	49	16

30	59	80	79	78	77	76	75	50	17

29	58	57	56	55	54	53	52	51	18

28	27	26	25	24	23	22	21	20	19

In [ ]:
#  Q.1 Write a Python Program to add two matrices and store them in a separate matrix.
A =[[2,4,1],
    [8,0,-1],
    [1,-4,0]]

B = [[8,0,3],
     [2,-5,7],
     [3,-1,5]] 
c=[]
for i in range(len(A)):
  for j in range(len(A[i])):
    print((A[i][j]+B[i][j]),end=" ")
  print()

In [ ]:
# Q.2 Write a program to subtract two matrices and store them in a separate matrix
A =[[2,4,1],
    [8,0,-1],
    [1,-4,0]]

B = [[8,0,3],
     [2,-5,7],
     [3,-1,5]] 
c=[]
for i in range(len(A)):
  for j in range(len(A[i])):
    print((A[i][j]-B[i][j]),end=" ")
  print()

In [25]:
#  Q.3  Write a program to multiply two matrices and store the result in a separate matrix.

A =[[2,4,1],
    [8,0,-1],
    [1,-4,0]]

B = [[8,0,3],
     [2,-5,7],
     [3,-1,5]] 

for i in range(len(A)):
  for p in range(len(A[i])):
    c=0
    for j in range(len(A)):
      c+=(A[i][j]*B[j][p])
    print(c,end=" , ")
  print()

27 , -21 , 39 ,
61 , 1 , 19 ,
0 , 20 , -25 ,

In [ ]:
#  Q.4 Write a Python program to transpose matrix A. Store the result in a separate matrix.
P=[[0,0,0],
[0,0,0],
[0,0,0]]

A=[[2,4,1],
  [8,0,-1],
  [1,-4,0]]
for i in range(len(A)):
  for j in range(len(A[i])):
    P[j][i]=A[i][j]
print(P)