<a href="https://colab.research.google.com/github/pinkikumari1/kbc/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import time
from random import randint

for i in range(1,85):
  print('')

space=''
for i in range(1,1000):
  count=randint(1,100)
  while(count>0):
    space+=''
    count-=1
  if (i%10==0):
    print(space+'            ğŸ¥§          ğŸ‚           Happy Brithday!          ğŸ’›           ğŸ¥®            PINKI  KUMARI                     ğŸ°')
  elif(i%9==0):
    print(space+'  ğŸ‚             ğŸ’›')
  elif(i%5==0):
    print(space+'        ğŸ’›')
    print("ğŸ¥§    PINKI  KUMARI                              PINKI  KUMARI         HAPPY BRITHDAYğŸ‚     ğŸ‚         ğŸ‚      PINKI  KUMARI         ğŸ‚   ")
  elif(i%8==0):
    print(space+'                          ğŸ¥³')
  elif(i%7==0):
    print(space+'       ğŸ«     ğŸ¬                          ğŸ‚           ğŸ­')
  elif(i%6==0):
    print(space+'Happy Brithday!    ğŸ’–        ğŸ’—             PINKI  KUMARI           ğŸ’    HAPPY BRITHDAY')
  else:
    print(space+"")
  space=''
  time.sleep(0.2)

In [ ]:
a=int(input("number "))
i=1
while i<=10:
  print(a,"*",i,"=",a*i)
  i+=1

number 19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [ ]:
p=int(input("write a number:-"))
i=1
while i<=10:
  print(p,"*",i,"=",p*i)
  i+=1

write a number:-10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
a=int(input("enter the number:="))
i=1
while i<=10:
  print("*"*i)
  i+=1

enter the number:=6
*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
for row in range(6):
  for col in range(7):
    if (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2) or (row+col ==8):
      print("ğŸ’–",end=" ")
    else:
      print(" ",end=" ")
  print()

  ğŸ’– ğŸ’–   ğŸ’– ğŸ’–
ğŸ’–     ğŸ’–     ğŸ’–
ğŸ’–           ğŸ’–
  ğŸ’–       ğŸ’–
    ğŸ’–   ğŸ’–
      ğŸ’–

In [ ]:
import turtle

wn=turtle.Screen()         
wn.setup(768,768)         
wn.title("codehub.py instagram")
wn.bgcolor("#444444")


#Radha
b=turtle.Turtle()
b.color('#40ffff')
b.up()
b.speed(0)
b.seth(0)
b.fd(22)
b.seth(90)
b.fd(103)

b.pensize(5)
b.down()
#1 eye1 1
b.seth(10)
b.circle(-50,25)
b.pensize(4)
b.circle(-50,10)
b.pensize(3)
b.circle(-50,5)
b.pensize(2)
b.circle(-50,3)

b.up()
b.seth(180)
b.fd(35)
b.seth(-90)
b.fd(14)
b.down()
#1 eye1 2
b.seth(-46)
b.fd(5)
b.pensize(3)
b.fd(10)
b.pensize(4)
b.fd(4)
b.pensize(5)
b.circle(25,62)
b.pensize(4)
b.seth(-48)
b.fd(3)
b.pensize(3)
b.fd(4)
b.pensize(2)
b.fd(3)

b.up()
b.seth(45)
b.fd(63)
b.down()
#1 eye2 1
b.circle(-100,3)
b.pensize(3)
b.circle(-100,8)
b.pensize(4)
b.circle(-100,9)
b.pensize(5)
b.circle(-100,13)
b.pensize(4)
b.circle(-100,8)
b.pensize(3)
b.circle(-100,6)
b.pensize(2)
b.circle(-100,3)

b.up()
b.seth(-139)
b.fd(103)
b.down()
#1 eye2 2
b.seth(46)
b.fd(4)
b.pensize(3)
b.fd(6)
b.pensize(4)
b.fd(6)
b.seth(-5)
b.circle(115,5)
b.pensize(5)
b.circle(115,10)
b.pensize(6)
b.circle(115,15)
b.pensize(5)
b.circle(115,10)
b.pensize(4)
b.circle(115,5)
b.pensize(3)
b.circle(115,5)
b.pensize(2)
b.circle(115,5)


b.up()
b.seth(176)
b.fd(142)
b.down()
#2 pottu
b.pensize(7)
b.circle(2)

b.pensize(4)
b.up()
b.seth(-94)
b.fd(118)
b.down()
#3 nose
b.seth(-125)
b.circle(15,85)
b.fd(10)

b.pensize(3)
b.up()
b.seth(-115)
b.fd(22)
b.down()
#3 mouth
b.seth(28)
b.fd(15)
b.circle(-9,85)
b.seth(75)
b.circle(-9,83)
b.circle(40,48)
b.seth(-131)
b.circle(-65,62)
#b.pensize(3)
b.up()
b.seth(-70)
b.fd(6)
b.down()
b.seth(-34)
b.circle(35,80)


b.pensize(2)
b.up()
b.seth(150)
b.fd(99)
b.down()
#3 face
b.seth(-67)
b.fd(10)
b.pensize(3)
b.fd(40)
b.circle(122,36)
b.seth(0)
b.fd(27)
b.seth(27)
b.circle(220,40)
b.pensize(2)
b.circle(220,5)

b.pensize(3)
b.up()
b.seth(-60)
b.fd(10)
b.down()
#3 hear1
b.seth(-90)
b.fd(32)
b.seth(0)
b.circle(-25,160)
b.pensize(4)
b.circle(-25,100)
b.pensize(5)
b.circle(-25,50)
b.pensize(4)
b.circle(-25,35)
b.pensize(3)
b.circle(-25,15)

b.pensize(3)
b.up()
b.seth(-10)
b.fd(40)
b.down()
#3 hear2
b.seth(-90)
b.fd(14)
b.seth(0)
b.circle(-10,160)
b.pensize(4)
b.circle(-10,100)
b.pensize(5)
b.circle(-10,50)
b.pensize(4)
b.circle(-10,35)
b.pensize(3)
b.circle(-10,15)


b.pensize(4)
b.up()
b.seth(147)
b.fd(315)
b.down()
#3 hair1
b.seth(90)
b.circle(-120,5)
b.pensize(3)
b.circle(-120,40)
b.pensize(3)
b.circle(-45,50)
b.pensize(4)
b.circle(-45,42)
b.fd(70)
b.seth(-38)
b.fd(50)
b.pensize(5)
b.circle(-75,44)
b.fd(50)
b.circle(70,48)
b.seth(-5)
b.pensize(4)
b.fd(20)
b.circle(-7,82)
b.pensize(3)
b.fd(25)
b.circle(-60,33)
b.pensize(2)
b.circle(-60,10)


b.pensize(1)
b.up()
b.seth(-90)
b.fd(15)
b.seth(-179)
b.fd(212)
b.down()
#3 hair2
b.pensize(7)
b.seth(80)
b.circle(30,51)
b.pensize(4)
b.fd(18)
b.pensize(7)
b.seth(150)
b.circle(-50,37)
b.pensize(6)
b.circle(-250,13)
b.pensize(5)
b.circle(-250,6)
b.pensize(4)
b.circle(-250,4)

b.pensize(1)
b.up()
b.seth(56)
b.fd(238)
b.down()
#3 hair3
b.pensize(4)
b.seth(-2)
b.circle(-100,31)
b.pensize(6)
b.circle(-100,31)
b.fd(80)
b.pensize(4)
b.fd(45)


b.pensize(1)
b.up()
b.seth(133)
b.fd(100)
b.down()
#3 hair4
b.seth(-78)
b.pensize(2)
b.circle(132,5)
b.pensize(3)
b.circle(132,10)
b.pensize(4)
b.circle(132,20)
b.pensize(5)
b.circle(132,20)
b.circle(-120,20)
b.pensize(4)
b.circle(-120,10)
b.pensize(3)
b.circle(-120,8)
b.pensize(2)
b.circle(-120,7)

b.pensize(1)
b.up()
b.seth(144)
b.fd(368)
b.down()
#3 hair5
b.begin_fill()
b.seth(45)
b.circle(-35,92)
b.fd(70)
b.seth(-42)
b.fd(30)
b.circle(-80,14)
b.fd(60)
b.seth(152)
b.circle(-220,27)
b.seth(115)
b.circle(220,20)
b.circle(2,176)
b.circle(-150,25)
b.circle(281,27)
b.seth(138)
b.circle(-280,26)
b.circle(280,16)
b.circle(24,65)
b.end_fill()
b.ht()

#Krishna

c=turtle.Turtle()
c.speed(0)
c.color('#40ffff')
c.up()
c.seth(166)
c.fd(200)
c.down()
#1 eye1 1
c.pensize(4)
c.seth(150)
c.circle(70,13)
c.pensize(5)
c.circle(70,10)
c.pensize(6)
c.circle(70,10)
c.pensize(7)
c.circle(70,15)
c.pensize(5)
c.circle(70,8)
c.pensize(3)
c.circle(70,7)
c.pensize(2)
c.circle(70,5)


c.up()
c.seth(-19.5)
c.fd(104)
c.down()
#1 eye1 2
c.pensize(5)
c.seth(137)
c.fd(8)
c.pensize(4)
c.fd(5)
c.circle(8,92)
c.circle(-37,26)
c.pensize(5)
c.circle(-37,20)
c.pensize(6)
c.circle(-37,10)
c.pensize(7)
c.circle(-37,10)
c.pensize(6)
c.circle(-37,10)
c.pensize(4)
c.circle(-37,10)
c.pensize(3)
c.fd(8)
c.pensize(2)
c.fd(7)
c.pensize(1)
c.fd(5)

c.up()
c.seth(17.5)
c.fd(123)
c.down()
#1 eye2 1
c.pensize(5)
c.seth(58)
c.circle(-80,5)
c.pensize(6)
c.circle(-80,10)
c.pensize(7)
c.circle(-80,15)
c.pensize(8)
c.circle(-80,15)
c.pensize(7)
c.circle(-80,10)
c.pensize(6)
c.circle(-80,8)
c.pensize(4)
c.circle(-80,7)
c.pensize(3)
c.circle(-80,5)
c.pensize(2)
c.circle(-80,3)
c.pensize(1)
c.circle(-80,2)


c.up()
c.seth(-139)
c.fd(118)
c.down()
#1 eye2 2
c.pensize(5)
c.seth(68)
c.fd(6)
c.pensize(4)
c.fd(3)
c.pensize(3)
c.fd(6)
c.circle(-12,57)
c.pensize(4)
c.circle(-12,20)
c.pensize(5)
c.circle(-12,10)
c.pensize(6)
c.circle(45,30)
c.pensize(7)
c.circle(45,20)
c.pensize(6)
c.circle(45,15)
c.pensize(4)
c.circle(45,8)
c.pensize(3)
c.circle(45,7)
c.fd(17)
c.pensize(2)
c.fd(10)

c.up()
c.seth(163)
c.fd(165)
c.down()
#2 pottu
c.seth(-10)
c.pensize(4)
c.fd(5)
c.seth(-45)
c.circle(-50,30)
c.pensize(5)
c.circle(-50,10)
c.pensize(6)
c.fd(15)
c.circle(45,39)
c.circle(7,138)
c.pensize(7)
c.fd(30)
c.pensize(6)
c.fd(20)
c.pensize(5)
c.fd(10)
c.pensize(4)
c.fd(5)
c.circle(-18,35)
c.pensize(3)
c.circle(-18,20)


c.up()
c.seth(-89.5)
c.fd(167)
c.down()
#2 nose
c.circle(45,40)


c.up()
c.seth(-120)
c.fd(31)
c.down()
#3 mouth
c.seth(27)
c.fd(18)
c.circle(-9,85)
c.seth(78)
c.circle(-10,98)
c.circle(25,80)
c.seth(-127)
c.circle(-67,68)
c.up()
c.seth(-35)
c.fd(13)
c.down()
c.seth(-30)
c.circle(37,85)

c.pensize(1)
c.up()
c.seth(151.5)
c.fd(270)
c.down()
#3 head1
c.begin_fill()
c.seth(127)
c.circle(-90,43)
c.seth(45.5)
c.fd(118)
c.circle(-1,165)
c.fd(74)
c.circle(25,45)
c.seth(-111)
c.fd(50)
c.seth(-40)
c.fd(10)
c.seth(61)
c.fd(100)
c.circle(-185,32)
c.circle(1,175)
c.circle(200,37)
c.circle(-2.5,180)
c.fd(48)
c.seth(60)
c.circle(-180,58)
c.seth(173)
c.circle(150,60)
c.seth(-155)
c.circle(238,33)
c.seth(-92)
c.circle(95,43)
c.end_fill()

c.up()
c.seth(23)
c.fd(55)
c.down()
#3 head2
c.begin_fill()
c.seth(52)
c.circle(-400,24)
c.seth(-165)
c.circle(200,50)
c.end_fill()

c.up()
c.seth(38)
c.fd(150)
c.down()
#3 head3
c.begin_fill()
c.seth(2)
c.circle(-180,20)
c.seth(133)
c.circle(55,70)
c.end_fill()

c.up()
c.seth(9)
c.fd(152)
c.down()
#3 head4
c.begin_fill()
c.seth(-20)
c.circle(-50,98)
c.seth(80)
c.circle(70,65)
c.end_fill()


c.up()
c.seth(-91)
c.fd(80)
c.down()
#1 hair1
c.seth(-35)
c.pensize(3)
c.circle(-25,45)
c.pensize(4)
c.circle(-25,50)
c.pensize(5)
c.circle(-10,70)
c.pensize(5)
c.circle(-18,80)
c.circle(-11,150)
c.pensize(4)
c.circle(-11,60)
c.pensize(3)
c.circle(-11,30)
c.pensize(2)
c.circle(-11,20)
c.pensize(1)
c.circle(-11,10)

c.up()
c.seth(32)
c.fd(29)
c.down()
#1 hair2
c.seth(24)
c.pensize(3)
c.circle(-25,45)
c.pensize(4)
c.circle(-25,50)
c.pensize(5)
c.circle(-11,70)
c.pensize(5)
c.circle(-19,80)
c.circle(-12,150)
c.pensize(4)
c.circle(-12,60)
c.pensize(3)
c.circle(-12,30)
c.pensize(2)
c.circle(-12,20)
c.pensize(1)
c.circle(-12,10)

c.up()
c.seth(170)
c.fd(31)
c.down()
#1 hair3
c.seth(-33)
c.pensize(3)
c.circle(-48,45)
c.pensize(4)
c.circle(-48,50)
c.pensize(5)
c.circle(-22,90)
c.pensize(6)
c.circle(-30,95)
c.pensize(6)
c.circle(-20,150)
c.pensize(5)
c.circle(-20,60)
c.pensize(4)
c.circle(-20,30)
c.pensize(3)
c.circle(-20,20)
c.pensize(2)
c.circle(-20,10)


c.up()
c.seth(169)
c.fd(245)
c.down()
#2 hair1
c.seth(-155)
c.pensize(3)
c.circle(25,45)
c.pensize(4)
c.circle(25,50)
c.pensize(5)
c.circle(10,85)
c.pensize(6)
c.circle(16,70)
c.circle(10,150)
c.pensize(4)
c.circle(10,60)
c.pensize(3)
c.circle(10,30)
c.pensize(2)
c.circle(10,20)
c.pensize(1)
c.circle(10,10)

c.up()
c.seth(167)
c.fd(23)
c.down()
#2 hair2
c.seth(168)
c.pensize(3)
c.circle(25,45)
c.pensize(4)
c.circle(25,50)
c.pensize(5)
c.circle(12,85)
c.pensize(6)
c.circle(19,70)
c.circle(11,150)
c.pensize(4)
c.circle(11,60)
c.pensize(3)
c.circle(11,30)
c.pensize(2)
c.circle(11,20)
c.pensize(1)
c.circle(11,10)

c.up()
c.seth(21)
c.fd(30)
c.down()
#2 hair3
c.seth(-148)
c.pensize(3)
c.circle(48,40)
c.pensize(5)
c.circle(48,50)
c.pensize(6)
c.circle(22,90)
c.pensize(7)
c.circle(30,95)
c.pensize(6)
c.circle(20,150)
c.pensize(5)
c.circle(20,60)
c.pensize(4)
c.circle(20,30)
c.pensize(3)
c.circle(20,20)
c.pensize(2)
c.circle(20,10)

c.up()
c.seth(33)
c.fd(258)
c.down()
#1 peacock1
c.pensize(3)
c.seth(85)
c.circle(150,25)

c.pensize(1)
c.up()
c.seth(-88)
c.fd(42)
c.down()
#1 peacock2
c.begin_fill()
c.seth(131)
c.circle(-75,45)
c.circle(-12,150)
c.circle(-85,35)
c.seth(88)
c.circle(75,34)
c.circle(5,137)
c.circle(75,40)
c.end_fill()

c.up()
c.seth(135)
c.fd(15)
c.down()
#1 peacock3
c.begin_fill()
c.seth(140)
c.circle(-65,77)
c.circle(-20,125)
c.circle(-85,45)
c.seth(84)
c.circle(75,32)
c.circle(15,140)
c.circle(65,47)
c.end_fill()
c.end_fill()

c.up()
c.seth(-110)
c.fd(4)
c.down()
#1 peacock4
c.begin_fill()
c.seth(140)
c.circle(-70,70)
c.circle(-28,145)
c.circle(-85,27)
c.seth(54)
c.circle(50,50)
c.circle(-30,60)
c.seth(-140)
c.circle(50,35)
c.seth(74)
c.circle(100,36)
c.seth(-82)
c.circle(-70,35)
c.seth(92)
c.circle(55,50)
c.circle(-35,65)
c.seth(-135)
c.circle(125,70)
c.seth(140)
c.circle(-80,50)
c.seth(-94)
c.circle(100,70)
c.end_fill()
c.ht()


#pullangulal

d=turtle.Turtle()
d.speed(0)
d.color('#40ffff')
d.up()
d.seth(-159)
d.fd(296)
d.down()
#1 
d.pensize(3)
d.seth(-90)
d.begin_fill()
d.fd(18)
d.seth(-179)
d.fd(20)
d.seth(90)
d.fd(18)
d.seth(1)
d.fd(20)
d.end_fill()



d.fd(550)
d.seth(-90)
d.fd(18)
d.seth(-179)
d.fd(550)
d.seth(90)
d.fd(18)
d.pensize(1)
d.seth(1)
d.fd(115)
d.seth(-50)
d.begin_fill()
d.circle(18,103)
d.end_fill()
d.seth(1)
d.fd(91)
d.seth(-50)
d.begin_fill()
d.circle(18,103)
d.end_fill()
d.seth(1)
d.fd(35)
d.seth(-50)
d.begin_fill()
d.circle(18,103)
d.end_fill()
d.seth(1)
d.fd(35)
d.seth(-50)
d.begin_fill()
d.circle(18,103)
d.end_fill()
d.seth(1)
d.fd(35)
d.seth(-50)
d.begin_fill()
d.circle(18,100)
d.end_fill()
d.seth(1)
d.fd(99)
d.seth(-90)
d.fd(18)
d.seth(-179)
d.fd(550)
d.seth(90)
d.fd(18)


d.seth(1)
d.fd(550)
d.seth(-90)
d.fd(1)
d.begin_fill()
d.seth(1)
d.fd(15)
d.seth(90)
d.fd(5)
d.circle(-7,115)
d.fd(55)
d.seth(-162)
d.fd(55)
d.circle(-7,115)
d.fd(5)
d.seth(-179)
d.fd(15)
d.end_fill()


d.pensize(5)
d.up()
d.seth(-90)
d.fd(1)
d.seth(-179)
d.fd(47)
d.down()
d.begin_fill()
d.seth(-110)
d.circle(-130,90)
d.circle(500,50)
d.seth(20)
d.circle(-400,46)
d.circle(204,101)
d.end_fill()
d.ht()

TclError: ignored

In [ ]:
for row in range(9):
  for col in range(11):
    if ((row==2 and (col==10 or col==0)) or (row==1 and col%5==0) 
        or (row-col==3) or (row+col ==13) or (row==0 and (col>0 and col<10 and col!=5)) 
        or (col==4 and(row>1 and row<7)) or (col==5 and (row==2 or row==4)) or
        (col==6 and row==3)) :
      print("ğŸ’",end=" ")
    else:
      print("âœ¨",end=" ")
  print()

âœ¨ ğŸ’ ğŸ’ ğŸ’ ğŸ’ âœ¨ ğŸ’ ğŸ’ ğŸ’ ğŸ’ âœ¨
ğŸ’ âœ¨ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨ âœ¨ ğŸ’
ğŸ’ âœ¨ âœ¨ âœ¨ ğŸ’ ğŸ’ âœ¨ âœ¨ âœ¨ âœ¨ ğŸ’
ğŸ’ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨ ğŸ’
âœ¨ ğŸ’ âœ¨ âœ¨ ğŸ’ ğŸ’ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨
âœ¨ âœ¨ ğŸ’ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨ âœ¨
âœ¨ âœ¨ âœ¨ ğŸ’ ğŸ’ âœ¨ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨
âœ¨ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨ âœ¨
âœ¨ âœ¨ âœ¨ âœ¨ âœ¨ ğŸ’ âœ¨ âœ¨ âœ¨ âœ¨ âœ¨

In [ ]:
from turtle import *

bgcolor("black")
speed(0)
hideturtle()

for i in range(120):
  color('red')
  circle(i)
  color('orange')
  circle(i*0.8)
  right(3)
  forward(3)
done()

In [ ]:
for row in range(6):
  for col in range(4):
    if (col==0) or (col==1 and (row==0 or row==3)) or (col==2 and (row==1 or row==2)):
      print("*",end=" ")
    else:
      print(end=" ")
  print()

* *
*  *
*  *
* *
*
*

In [ ]:
count=0
while count<3:
  count=count+1
  print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:
#Q.1
i=0
while i<=4:
  i+=1
  print(i)

1
2
3
4
5

In [ ]:
#Q.2
i=0
while i<=5:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
#Q.3
i=0
while i<=5:
 print(i)
i+=1

In [ ]:
i=0
while i<=4:
i+=1
print(i)

IndentationError: ignored

In [ ]:
i=0
i+=1
print(i)
while i<=4:

SyntaxError: ignored

In [ ]:
while i<=4:
i=0
 i+=1
 print(i)

KeyboardInterrupt: ignored

In [ ]:
i=2
while i<=4:
  i+=1
print(i)

5

In [ ]:
i=10
while i=0:
  i-=2
  print(i)

SyntaxError: ignored

In [ ]:
#Q.1
i=1
while i<=20:
  print(i)
  i+=2

1
3
5
7
9
11
13
15
17
19

In [ ]:
#Q.1(b)
i=0
while i<20:
  print(i)
  i+=2

0
2
4
6
8
10
12
14
16
18

In [ ]:
#Q.3(c)
print("Natural Number")
i=1
while i<=10:
  print(i)
  i+=1

Natural Number
1
2
3
4
5
6
7
8
9
10

In [ ]:
#Q.1(c)
print("Whole number")
i=0
while i<10:
  print(i)
  i+=1

Whole number
0
1
2
3
4
5
6
7
8
9

In [ ]:
#Q.2
i=1
while i<=10:
  print(i, i**2)
  i+=1

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
#Q.2
i=1
while i<=10:
  print(i,"-",i**2,"/",end=" ")
  i+=1

1 - 1 / 2 - 4 / 3 - 9 / 4 - 16 / 5 - 25 / 6 - 36 / 7 - 49 / 8 - 64 / 9 - 81 / 10 - 100 /

In [ ]:
#Q.3
i=10
while i<=300:
  print(i,end=" ")
  i+=10

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [ ]:
#Q.4
i=105
while i>=7:
  print(i,",",end=" ")
  i-=7

105 , 98 , 91 , 84 , 77 , 70 , 63 , 56 , 49 , 42 , 35 , 28 , 21 , 14 , 7 ,

In [ ]:
#Q.5
i=10
while i>=1:
  print(i,end=" ")
  i-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
#Q.6
i=1
sum=0
while i<=10:
  sum=sum+i
  print(i)
  i+=1
print("sum =",sum)

1
2
3
4
5
6
7
8
9
10
sum = 55

In [ ]:
#Q.7
i=0
sum=0
while i<20:
  sum=sum+i
  print("\n",i,sum)
  i+=2

 0 0

 2 2

 4 6

 6 12

 8 20

 10 30

 12 42

 14 56

 16 72

 18 90

In [ ]:
#Q.8
a=int(input("Enter any number: "))
i=1
while i<=10:
  print(a,"*",i,"=",a*i)
  i+=1

Enter any number: 34
34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340

In [ ]:
a=int(input("Enter any number: "))
i=0
while i<=10:
  print(a,"+",i,"=",a+i)
  i+=1

Enter any number: 10
10 + 0 = 10
10 + 1 = 11
10 + 2 = 12
10 + 3 = 13
10 + 4 = 14
10 + 5 = 15
10 + 6 = 16
10 + 7 = 17
10 + 8 = 18
10 + 9 = 19
10 + 10 = 20

In [ ]:
#Q.9
a=int(input("Enter first  number: "))
b=int(input("Enter second  number: "))
while a<=b:
   if a%2==0:
       print(a)
   a+=1

Enter first  number: 5
Enter second  number: 15
6
8
10
12
14

In [ ]:
#Q.10
num=int(input("Enter any number: "))
i=1
factor=0
while i<=num:
  if num%i==0:
    factor+=1
  i+=1
print(factor)
if factor==2:
  print(num,"is a prime number")
else:
  print(num,"is not a prime number")

Enter any number: 17
2
17 is a prime number

In [ ]:
#Q.11

i=0
sum=0
while i<5:
  a=int(input("Enter any number"))
  sum=sum+a
  i+=1
print(sum)

Enter any number3
Enter any number3
Enter any number6
Enter any number7
Enter any number4
Enter any number76
99

In [ ]:
i=0
sum=0
while i<=3:
  a=int(input("num:"))
  sum=sum+a
  i+=1
print("sum =",sum)

num:12
num:45
num:2
num:8
sum = 67

In [ ]:
counter=1
while counter<100:
  if counter%2==0:
    print(counter)
  counter+=1
print("not valid")

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
not valid

In [ ]:
counter=0
while counter<=10:
  print("one laptop kept in the car.")
  counter+=1
print("There are no laptop.")

one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
one laptop kept in the car.
There are no laptop.

In [ ]:
counter=1
while counter<=20:
  print(counter)
  counter+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
2

In [ ]:
counter=20
while counter<=40:
  if counter%2==0:
    print(counter)
  counter+=1

20
22
24
26
28
30
32
34
36
38
40

In [ ]:
i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
counter=1
while counter<=100:
  if counter%7==0:
    print(counter)
  counter+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
counter=1
sum=0
while counter<=100:
  print(counter)
  sum=sum+counter
  counter+=1
print(sum)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
5050

In [ ]:
counter=1
sum=0
while counter<=10:
  num=int(input("Enter any num"))
  print(num)
  sum=sum+num
  counter+=1
print(sum)

Enter any num5
5
Enter any num6
6
Enter any num9
9
Enter any num4
4
Enter any num1
1
Enter any num2
2
Enter any num3
3
Enter any num3
3
Enter any num4
4
Enter any num5
5
42

In [ ]:
counter=1
while counter<=100:
  if counter%2==0:
    print(counter*-1,",",end=" ")
  else:
    print(counter,",",end=" ")
  counter+=1

1 , -2 , 3 , -4 , 5 , -6 , 7 , -8 , 9 , -10 , 11 , -12 , 13 , -14 , 15 , -16 , 17 , -18 , 19 , -20 , 21 , -22 , 23 , -24 , 25 , -26 , 27 , -28 , 29 , -30 , 31 , -32 , 33 , -34 , 35 , -36 , 37 , -38 , 39 , -40 , 41 , -42 , 43 , -44 , 45 , -46 , 47 , -48 , 49 , -50 , 51 , -52 , 53 , -54 , 55 , -56 , 57 , -58 , 59 , -60 , 61 , -62 , 63 , -64 , 65 , -66 , 67 , -68 , 69 , -70 , 71 , -72 , 73 , -74 , 75 , -76 , 77 , -78 , 79 , -80 , 81 , -82 , 83 , -84 , 85 , -86 , 87 , -88 , 89 , -90 , 91 , -92 , 93 , -94 , 95 , -96 , 97 , -98 , 99 , -100 ,

In [ ]:
i=1
while i<=40:
  if i%3==0:
    print(i)
  i+=1

3
6
9
12
15
18
21
24
27
30
33
36
39

In [ ]:
i=891
while i<931:
 z=i-890
 if z%3==0:
  print(z)
 i=i+1

3
6
9
12
15
18
21
24
27
30
33
36
39

In [ ]:
i=1
while i<=50:
  print(i)
  i+=5

1
6
11
16
21
26
31
36
41
46

In [ ]:
i=0
while i<=50:
  if i !=0:
    print(i)
  i+=5

5
10
15
20
25
30
35
40
45
50

In [ ]:
counter=49
while counter<100:
  counter+=2
  print(counter)

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [ ]:
counter=50
while counter<=100:
  if counter%2!=00:
    print(counter)
  counter+=1

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
counter=400
while counter>=350:
  z=(counter-300)
  if z%2!=0:
    print(z)
  counter-=1

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51

In [ ]:
counter=-1
while counter>= (-10):
  print(-counter)
  counter=counter-1

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter=-10
while counter>= (-20):
  print(-counter)
  counter-=1

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
counter=1
while counter<=10:
  print(counter)
  counter=counter-(-1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter=1
while counter<=10:
  print(counter)
  counter-=-1

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter=556
while counter<=656:
  a=counter-555
  if a%7==0:
    print(a)
  counter+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
counter=1
while counter<=100:
  if counter%7==0:
    print(counter)
  counter+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
counter=1
while counter<=7:
  print("#"*counter)
  counter+=1

#
##
###
####
#####
######
#######

In [ ]:
counter=1
while counter<=100:
  if counter%3==0 and counter%7==0:
    print("Navgurukul")
  elif counter%3==0:
    print("Nav")
  elif counter%7==0:
    print("gurukul")
  else:
    print(counter)
  counter+=1

1
2
Nav
4
5
Nav
gurukul
8
Nav
10
11
Nav
13
gurukul
Nav
16
17
Nav
19
20
Navgurukul
22
23
Nav
25
26
Nav
gurukul
29
Nav
31
32
Nav
34
gurukul
Nav
37
38
Nav
40
41
Navgurukul
43
44
Nav
46
47
Nav
gurukul
50
Nav
52
53
Nav
55
gurukul
Nav
58
59
Nav
61
62
Navgurukul
64
65
Nav
67
68
Nav
gurukul
71
Nav
73
74
Nav
76
gurukul
Nav
79
80
Nav
82
83
Navgurukul
85
86
Nav
88
89
Nav
gurukul
92
Nav
94
95
Nav
97
gurukul
Nav
100

In [ ]:
i = 1
while i<100:
  if i%7==0:
   print(i)
  i+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [ ]:
counter=1
sum=0
while counter<=10:
  a=int(input("num: "))
  sum+=a
  counter+=1
print("sum=",sum)

num: 1
num: 1
num: 1
num: 1
num: 1
num: 1
num: 1
num: 1
num: 1
num: 1
sum= 10

In [ ]:
counter=156
while counter<166:
  print(counter-155)
  counter+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
counter=int(input("Number of input to be take? "))
sum=0
while i<=counter:
  a=int(input("num: "))
  sum=sum+a
  i+=1
print("sum=",sum)

Number of input to be take? 4
num: 1
num: 1
num: 1
num: 1
sum= 4

In [ ]:
num=int(input("enter any num: "))
i=1
factor=0
while i<=num:
  if num%i==0:
   factor+=1
  i+=1
  print(factor)
if factor==2:
  print("This is a prime number")
else:
  print("This is Not prime number")

enter any num: 8
1
2
2
3
3
3
3
4
This is Not prime number

In [ ]:
counter=5
while counter>=1:
  print(counter*5)
  counter-=1

25
20
15
10
5

In [ ]:
num=int(input("enter any number: "))
s=0
while num>0:
    a=num%10
    num=num//10
    s+=a
print(s,"sum")

In [ ]:
#Q.11 sum the digit of input number
a=int(input("enter any number:"))
sum=0
while a>0:
  b=a%10
  a=a//10
  sum+=b
print(sum)

enter any number:09876
30

In [ ]:
num=int(input("enter any number: "))
sum=0
while num>0:
  a=num%10
  num=num//10
  sum+=a
print(sum)

enter any number: 234
9

In [ ]:
#Q.12: product(mantiplay)the digit of number
i = int(input("take a no."))
sum=1
while i>0:
  a=i%10
  i=i//10
  sum=(sum*a)
print(sum)

take a no.2345
120

In [ ]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
if a>b:
  if a<c:
    print(a,"is a second largest number")
  elif b>c:
    print(b,"is a second largest number")
  else:
    print(c,"is a second largest number")
elif b>a:
  if b<c:
    print(b,"is a second largest number")
  elif b<a:
    print(a,"is a second largest number")
  else:
    print(c,"is a second largest number")
else:
  print(c,"is a second largest number")

Enter first number: 7
Enter second number: 9
Enter third number: 8
8 is a second largest number

In [ ]:
num=input("Enter any number: ")
reversed_number=num[::-1]
if num==reversed_number:
  print(num,"yes")
else:
  print(num,"no")

# while num>0:
#   a=num%10
#   b=num//10
# print(reversed_number)

Enter any number: 768
768 no

In [ ]:
number=int(input("Enter Any Number: "))
counter=1
while counter<=number:
  a=number%10
  print(a,end="")
  number=number//10

Enter Any Number: 56
65

In [ ]:
#Q>13 Reverce number
n=int(input("enter: "))
i=1
while i<=n:
  b=n%10
  print(b,end="")
  n=n//10

enter: 4325948
8495234

In [ ]:
num=int(input("Enter any number: "))
counter=1
while counter>=2:
  a=num%10
  if a==1

num: 32

In [ ]:
num=int(input("Enter any num: "))
counter=1
while counter<=num:
  print("*"*counter)
  counter+=1
i=num-1
while i>=1:
  print("*"*i)
  i-=1

Enter any num: 9
*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
num=int(input("enter any number: "))
i=num
while i>=1:
  print("*"*i)
  i-=1

enter any number: 5
*****
****
***
**
*

In [ ]:
#Q.15
n=int(input("Enter any num: "))
n1=0
n2=1
i=0
if n<=0:
  print("n1")
elif n==1:
  print(n1,n2)
else:
 while i<n:
  print(n1,end=",")
  n3=n1+n2
  n1=n2
  n2=n3
  i+=1

Enter any num: 9
0,1,1,2,3,5,8,13,21,

In [ ]:
#Q.16
num= int(input("take number of factorial."))
i=1
sum=1
while i<=num:
  sum=sum*i
  i+=1
print("factorial of num=",sum)

take number of factorial.7
factorial of num= 5040

In [ ]:
a=int(input("enter any num: "))
while a<=6:
  print(a)
  a+=1

enter any num: 1
1
2
3
4
5
6

In [ ]:
if 1<7:
  print ("rupa")

rupa

In [ ]:
#Q.17
num=int(input("enter any number: "))
sum=0
num1=num
while num1>0:
  a=(num1%10)**3
  sum+=a
  num1=num1//10
if num==sum:
  print(num,"(a number is Armstrong)")
else:
  print(num,"(a number is not Armstrong)")

enter any number: 123
123 (a number is not Armstrong)

In [ ]:
a=12
c=(a%10)**3
b=a**3
print(c)

8

In [ ]:
index = 0 
while index<6:  
  print(index,end=" ") 
  index=index+1  
  if index == 10:  
    break  
print("(Found at",index,"location)")

0 1 2 3 4 5 Found at 6 location

In [ ]:
i= 0
while i <= 10:
i+=1
  if i==5:
   print("pinki") 
    continue
   print(i)

IndentationError: ignored

In [ ]:
num=int(input("enter any number: "))
counter=1
while counter<=num:
    b=num%10
    print(b)
    a=num//10
    print(a)
    s=a+b
    counter+=1
print(s,"sum")

enter any number: 6
6
0
6
0
6
0
6
0
6
0
6
0
6 sum

In [ ]:
 num=int(input("enter any number: "))
s=06578

In [ ]:
# Q.14 (while loop)
num=int(input("Enter any num: "))
b=str(num)[-2:]
a = b
j=0
while j<len(a):
    if  a[j]=="0":
      print("Zero")
    elif a[j]=="1":
      print("one")
    elif a[j]=="2":
      print("Two") 
    elif a[j]=="3":
      print("Three")
    elif a[j]=="4":
      print("Four")
    elif a[j]=="5":
      print("Five")
    elif a[j]=="6":
      print("Six")
    elif a[j]=="7":
      print("Seven")
    elif a[j]=="8":
      print("Eight")
    else:
      print("Nine")
    j+=1

Enter any num: 34456
Five
Six

In [ ]:
#Q.15
num=int(input("Enter any num: "))
a=0
b=1
sum=0
while b<num:
  if num<2:
    print(a,b)
  else:
      print(a,)
    b+=1
c=(a+b)
while b<=num:
    print(sum)
sum=sum+a

In [7]:
i=1
while i<=10:
    if i==6:
        break
    print(i)
    i+=1

1
2
3
4
5

In [8]:
i=0
while i<10:
    i+=1
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [9]:
# Q.22
i=1
sum=0
while i<=10:
   num=int(input("Enter any number: "))
   sum=sum+num
   i+=1
print("Avrage=",sum/10)

Enter any number: 678
Enter any number: 654
Enter any number: 89
Enter any number: 9
Enter any number: 8
Enter any number: 56
Enter any number: 8
Enter any number: 3
Enter any number: 1
Enter any number: 2
Avrage= 150.8

In [ ]:
#Q.19 
num=int(input("enter any number: "))
i=1
while i<=num:
    if i==num:
        print("1/"+str(i)+"!",end="")
    else:
        print("1/"+str(i)+"! + ",end=" ")
    i+=1

enter any number: 5
1/1! +  1/2! +  1/3! +  1/4! +  1/5!

In [ ]:
#Q.18 
n=int(input("Enter any number: "))
while n>0:
    a=n%2
    print(a)
    n=n//2

In [ ]:
#Q15.
num=int(input("enter any num: "))
n1=0
n2=1
i=0
if num<=0:
    print(n1)
elif num==1:
    print(n1,n2)
else:
    while i<num:
        print(n1)
        n3=n1+n2
        n1=n2
        n2=n3
        i+=1

In [ ]:
i=0
while i<10:
  i+=1
  if i==6:
    print("pinki")
    continue
  print(i)

1
2
3
4
5
pinki
7
8
9
10

In [ ]:
counter = 0
string = "navgurukul"
while (counter < len(string)-1):
	counter+=1
	if string[counter] == "a":
	  continue
	if string[counter] == "u":
	  continue
	print(string[counter])
	
print("the end",string[counter])

v
g
r
k
l
the end l

In [ ]:
#Q meraki Question
i=20
while i<=100:
  if i%2==0:
    print(i,end=" ")
  i+=1

20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
i=19
while i<100:
  i+=1
  if i%2!=0:
    continue
  print(i,end=",")

20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [ ]:
i=0
while i<100:
  i+=1
  if i%7!=0:
    continue
  print(i,end=" ,")

7 ,14 ,21 ,28 ,35 ,42 ,49 ,56 ,63 ,70 ,77 ,84 ,91 ,98 ,

In [ ]:
i=12
sum=0
while i<=421:
  sum=sum+i
  i+=1
print("sum of (12 to 421)=",sum)

sum of (12 to 421)= 88765

In [ ]:
i=30
sum=0
while i<=420:
  i+=1
  if i%8!=0:
    continue
  print(i)
  sum=sum+i
print("sum=",sum)

32
40
48
56
64
72
80
88
96
104
112
120
128
136
144
152
160
168
176
184
192
200
208
216
224
232
240
248
256
264
272
280
288
296
304
312
320
328
336
344
352
360
368
376
384
392
400
408
416
sum= 10976

In [ ]:
i=1
sum=0
while i<=11:
  a=int(input("Enter your weight: "))
  sum=sum+a
  i+=1
print("avrage=",sum/11)
b=int(sum/11)
if b%5==0:
  print(b,"is a multiple of 5 ")
else:
  print(b,"is a NOT multiple of 5 ")

Enter your weight: 8
Enter your weight: 6
Enter your weight: 5
Enter your weight: 7
Enter your weight: 9
Enter your weight: 5
Enter your weight: 4
Enter your weight: 6
Enter your weight: 8
Enter your weight: 3
Enter your weight: 4
avrage= 5.909090909090909
5 is a multiple of 5

In [ ]:
i=1
num=int(input("Enter any num: "))
num1=int(input("Enter any num: "))
multi=0
while i<=num1:
  multi=multi+num
  i+=1
print("multi=",multi)

Enter any num: 8
Enter any num: 6
multi= 48

In [ ]:
a=5
b=3
i=1
multi=0
while i<=b:
  multi+=a
  i+=1
print(multi)

15

In [ ]:
a=int(input("Enter any number: "))
n1=0
n2=1
i=1
if a<=0:
  print(n1)
elif a==1:
  print(n1,n2)
else:
  while i<=a:
    print(n1,end=" ")
    n3=n1+n2
    n1=n2
    n2=n3
    i+=1

Enter any number: 8
0 1 1 2 3 5 8 13

In [ ]:
c = 0
d = 1
while c<3:
  c=c+1
  d=d*c
  print("Loop Ke Andar", c, d)
else:
  print("Loop Ke Bahar", c, d)

Loop Ke Andar 1 1
Loop Ke Andar 2 2
Loop Ke Andar 3 6
Loop Ke Bahar 3 6

In [ ]:
i= 2
num=int(input("enter "))
while (i<=num):
  if (num%i == 0):
      print(num, 'is not a prime number')
      break
      i+=1
      
  else:
      print(num, 'is a prime number')
      break

enter 79
79 is a prime number

In [ ]:
################################   Patterns::  ##############################

In [ ]:
#Q.
a=int(input("Enter number: "))
i=1
while i<=a:
  print(i*"1")
  i+=1

Enter number: 5
1
11
111
1111
11111

In [ ]:
a=int(input("enter any num:"))
b=int(input("enter any num: "))
i=1
while i<=a:
  j=1
  while j<=b:
    print(j*"*",end="")
    j+=1
  i+=1
  print()

enter any num:4
enter any num: 7
****************************
****************************
****************************
****************************

In [ ]:
a=1
while a<=5:
  b=1
  while b<=5:
    print(b,end=" ")
    b+=1
  a+=1
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
a=1
while a<=5:
  b=1
  while b<=a:
    print(a,end="")
    b+=1
  a+=1
  print()

1
22
333
4444
55555

In [ ]:
p=1
while p==1:
  q=1
  while q<6:
    print(q*"p")
    q+=1
  p+=1
  print()

p
pp
ppp
pppp
ppppp

In [ ]:
#(h)
i=1
while i<=5:
    s=1
    while s<=5-i:
        print(" ",end=" ")
        s+=1
    j=1
    while j<=i:
        print(j,end=" ")
        j+=1
    i+=1
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
i=1
while i<=5:
    s=1
    while s<=5-i:
        print(" ",end=" ")
        s+=1
    j=1
    while j<=i:
        print(i,end=" ")
        j+=1
    i+=1
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [ ]:
i=1
while i<=5:
    s=1
    while s<=5-i:
        print(" ",end=" ")
        s+=1
    j=i
    while j>0:
        print(j,end=" ")
        j-=1
    i+=1
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [ ]:
i=1
while i<=5:
    j=i
    while j>0:
        print(j,end=" ")
        j-=1
    i+=1
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
i=1
a=1
while i<=5:
    j=1
    while j<=i:
        print(a,end=" ")
        a+=1
        j+=1
    i+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
i=1
a=1
while i<=5:
    j=1
    while j<=i:
        print(a,end=" ")
        j+=1
        a+=1
    i+=2
    print()

1
2 3 4
5 6 7 8 9

In [ ]:
i=0
while i<=5:
    j=0
    while j<=i:
        print(j*i,end=" ")
        j+=1
    i+=1
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25

In [ ]:
i=0
while i<=5:
    j=0
    while j<=i:
        print(j*j,end=" ")
        j+=1
    i+=1
    print()

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16
0 1 4 9 16 25

In [ ]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(i**2,end=" ")
        j+=1
    i+=1
    print()

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [ ]:
i=1
while i<=9:
    j=1
    while j<=i:
        print(i,end=" ")
        j+=2
    i+=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
i=1
while i<=5:
    j=1
    while j<=5:
        print(j,end=" ")
        j+=1
    i+=1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:

i=1
while i<=5:
    s=1
    while s<=5-i:
        print(" ",end=" ")
        s+=1
    j=i
    while j>0:
        print(j,end=" ")
        j-=1
    p=2
    while p<=i:
        print(p,end=" ")
        p+=1
    i+=1
    print()

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [ ]:

i=0
while i<=5:
    b=1
    while b<=5-i:
        print(" " ,end=" ")
        b+=1
    j=i
    while j>=0:
        print(j,end=" ")
        j-=1
    n=1
    while n<=i:
        print(n,end=" ")
        n+=1
    i+=1
    print()

          0
        1 0 1
      2 1 0 1 2
    3 2 1 0 1 2 3
  4 3 2 1 0 1 2 3 4
5 4 3 2 1 0 1 2 3 4 5

In [ ]:

i=1
while i<=5:
    j=5-i
    while j<=i:
        print(j,end=" ")
        j+=1
    i+=1
    print()

2 3
1 2 3 4
0 1 2 3 4 5

In [ ]:
row=int(input("enter the rows:"))
col=int(input("enter the colons:"))
i=1
while i<=col:
    print(" "* row +"* "* i)
    i+=1
    row=row-1

enter the rows:6
enter the colons:6
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [ ]:
row=int(input("enter any num: "))
col=int(input("enter any num: "))
i=0
while i<=col:
  print(" "*row+"P "*i)
  i+=1
  row-=1

enter any num: 6
enter any num: 6

     P
    P P
   P P P
  P P P P
 P P P P P
P P P P P P

TypeError: ignored

In [ ]:
#Q. 20
num= int(input("enter any number:"))
r=0
p=num
while p>0:
  a=p%10
  r=r*10+a
  p=p//10
print(r)
if r==num:
  print(num,"is a palindrome number")
else:
  print(num,"is Not palindrome number")

enter any number:12345654321
12345654321
12345654321 is a palindrome number

In [ ]:
#Q.23
num=int(input("Enter any num: "))
num1=int(input("Enter any num: "))
c=num
sum_even=0
sum_odd=0
while c<=num1:
  if c%2==0:
    sum_even+=c
    print(c)
  else:
    print(c,end="    |    ")
    sum_odd+=c
  c+=1
print()
print("sum of the even number",num,"-",num1,"=",sum_even)
print()
print("sum of the odd number",num,"-",num1,"=",sum_odd)

Enter any num: 1
Enter any num: 10
1    |    2
3    |    4
5    |    6
7    |    8
9    |    10

sum of the even number 1 - 10 = 30

sum of the odd number 1 - 10 = 25

In [ ]:
#Q.26
num=int(input("Enter n terms: "))
i=1
a=0
b=2
while i<=num:
  a=a*10+b
  print(a,end=" ,")
  i+=1

Enter n terms: 5
2 ,22 ,222 ,2222 ,22222 ,

In [ ]:
#Q.27
num=int(input("Enter any number:"))
i=1
while i<=num:
  print(i**2,end=" ")
  i+=1

Enter any number:5
1 4 9 16 25

In [ ]:
#Q.21
num=int(input("Enter any number:"))
i=1
sum=1
while i<=num:
  if i==1:
    print("1+ ",end="")
  if i==n:
    print("1/"+str(i)+"!")
  else:
    a=1/i
    sum+=a
    print("1/"+str(i)+"! + ",end=" ")
  i+=1
print()
print("sum=",sum)

Enter any number:5
1+ 1/1! +  1/2! +  1/3! +  1/4! +  1/5!

sum= 3.0833333333333335

In [ ]:
#Q.28
n=int(input("Enter any number(n):"))
x=int(input("Enter any number(x):"))
i=1
sum=1
while i<=n:
  if i==1:
    print("1 + ",end="")
  if i==n:
    print(str(x)+str(i)+"/"+str(i)+"!")
  else:
   a=x*i/i
   sum+=a
   print(str(x)+str(i)+"/"+str(i)+"! + ",end=" ")
  i+=1
print()
print("sum=",sum)

Enter any number(n):5
Enter any number(x):1
1 + 11/1! +  12/2! +  13/3! +  14/4! +  15/5!

sum= 5.0

In [ ]:
#Q.29
n=int(input("Enter any number(n):"))
x=int(input("Enter any number(x):"))
i=1
sum=0
while i<=n:
  if i==n:
    print(str(x)+str(i)+"/"+str(i)+"!")
  elif i==1:
    print(x*i,"+",end="")
  else:
   a=x*i/i
   sum+=a
   print(str(x)+str(i)+"/"+str(i)+"! + ",end=" ")
  i+=1
print()
print("sum=",sum)

Enter any number(n):8
Enter any number(x):2
2 +22/2! +  23/3! +  24/4! +  25/5! +  26/6! +  27/7! +  28/8!

sum= 12.0

In [ ]:
#Q.30
num=int(input("enter the n term:"))
i=1
sum=0
while i<=num:
  if i==num:
    print(i**3)
  else:
    print(i**3,"+",end=" ")
    a=i**3
    sum+=a
  i+=1
print("sum=",sum)

enter the n term:6
1 + 8 + 27 + 64 + 125 + 216
sum= 225

In [ ]:
#Q.31
num=int(input("Enter n term: "))
i=1
c=1
sum=0
while i<=num:
  p=c*i
  if i==num:
    print(p)
  else:
    print(p,"+",end=" ")
    c=p
    p,c = c,p
  sum+=p    
  i+=1
print()
print("sum=",sum)

Enter n term: 6
1 + 2 + 6 + 24 + 120 + 720

sum= 873

In [ ]:
#Q.32
num=int(input("enter n terms:"))
i=1
sum=0
while i<=num:
  if i==1:
    a=i**2
    print("s=",a,end=" ")
  elif i%2==0:
    a=i**2
    print("+",a,end=" ")
  else:
    a=(i**2)*-1
    print(a,end=" ")
  sum+=a
  i+=1
print()
print("sum=",sum)

enter n terms:6
s= 1 + 4 -9 + 16 -25 + 36
sum= 21

In [ ]:
#Q.32
num=int(input("enter n terms:"))
i=1
a=0
sum=0
while i<=num:
  if i==1:
    a=i
    print("S=",a,end="")
  elif i%2==0:
    a=i**2
    print("+"+str(a),end="")
  else:
    a=(i**2)*-1
    print(a,end="")
  sum+=a
  i+=1
print()
print("sum=",sum)

enter n terms:5
S= 1+4-9+16-25
sum= -13

In [ ]:
#Q.33
a='COMPUTER'
b=len(a)
i=0
while i<=b-1:
  print(a[i],end=" ")
  i+=1

C O M P U T E R

In [ ]:
#Q.34
l=[23,45,32,25,46,33,71,90]
a=len(l)
i=0
while i<=a-1:
  if l[i]%2!=0:
    print("odd number of the listl[i],end=" ,")
  i+=1

23 ,45 ,25 ,33 ,71 ,

In [ ]:
#Q.35
a=int(input("enter any num:"))
i=1
factor=0
while i<=a:
  if a%i==0:
    print(i,end=" ")
  i+=1

enter any num:9
1 3 9

In [ ]:
#Q.36
num1=int(input("enter any number:"))
num2=int(input("enter any number:"))
sum=0
while num1<=num2:
  if num1%2==0:
    print(num1)
    sum+=num1
  num1+=1
print("sum:",sum)

enter any number:5
enter any number:20
6
8
10
12
14
16
18
20
sum: 104

In [ ]:
#Q.38
i=1500
while i<=2700:
  if i%7==0 and i%5==0:
    print(i,end=" ")
  elif i%7==0 or i%5==0:
    print(i,end=" ")
  i+=1

1500 1505 1510 1512 1515 1519 1520 1525 1526 1530 1533 1535 1540 1545 1547 1550 1554 1555 1560 1561 1565 1568 1570 1575 1580 1582 1585 1589 1590 1595 1596 1600 1603 1605 1610 1615 1617 1620 1624 1625 1630 1631 1635 1638 1640 1645 1650 1652 1655 1659 1660 1665 1666 1670 1673 1675 1680 1685 1687 1690 1694 1695 1700 1701 1705 1708 1710 1715 1720 1722 1725 1729 1730 1735 1736 1740 1743 1745 1750 1755 1757 1760 1764 1765 1770 1771 1775 1778 1780 1785 1790 1792 1795 1799 1800 1805 1806 1810 1813 1815 1820 1825 1827 1830 1834 1835 1840 1841 1845 1848 1850 1855 1860 1862 1865 1869 1870 1875 1876 1880 1883 1885 1890 1895 1897 1900 1904 1905 1910 1911 1915 1918 1920 1925 1930 1932 1935 1939 1940 1945 1946 1950 1953 1955 1960 1965 1967 1970 1974 1975 1980 1981 1985 1988 1990 1995 2000 2002 2005 2009 2010 2015 2016 2020 2023 2025 2030 2035 2037 2040 2044 2045 2050 2051 2055 2058 2060 2065 2070 2072 2075 2079 2080 2085 2086 2090 2093 2095 2100 2105 2107 2110 2114 2115 2120 2121 2125 2128 2130 2135 2140 2142 2145 2149 2150 2155 2156 2160 2163 2165 2170 2175 2177 2180 2184 2185 2190 2191 2195 2198 2200 2205 2210 2212 2215 2219 2220 2225 2226 2230 2233 2235 2240 2245 2247 2250 2254 2255 2260 2261 2265 2268 2270 2275 2280 2282 2285 2289 2290 2295 2296 2300 2303 2305 2310 2315 2317 2320 2324 2325 2330 2331 2335 2338 2340 2345 2350 2352 2355 2359 2360 2365 2366 2370 2373 2375 2380 2385 2387 2390 2394 2395 2400 2401 2405 2408 2410 2415 2420 2422 2425 2429 2430 2435 2436 2440 2443 2445 2450 2455 2457 2460 2464 2465 2470 2471 2475 2478 2480 2485 2490 2492 2495 2499 2500 2505 2506 2510 2513 2515 2520 2525 2527 2530 2534 2535 2540 2541 2545 2548 2550 2555 2560 2562 2565 2569 2570 2575 2576 2580 2583 2585 2590 2595 2597 2600 2604 2605 2610 2611 2615 2618 2620 2625 2630 2632 2635 2639 2640 2645 2646 2650 2653 2655 2660 2665 2667 2670 2674 2675 2680 2681 2685 2688 2690 2695 2700

In [ ]:
#Q.40
i=1
a=int(input("enter num 1: "))
b=int(input("enter num 2: "))
while i<=1:
  if (a+b)>=15 and (a+b)<=20:
    print(20)
  i+=1

enter num 1: 13
enter num 2: 15

In [ ]:
#num=int(input("enter any num: "))
i=1
while i<=5:
  j=1
  while j<=i:
    print("*",end=" ")
    j+=1
  i+=1
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
num=int(input("enter any number: "))
i=1
while i<=num:
    print("*"*i)
    i+=1 
j=num-1
while j>0:
  print("*"*j)
  j-=1

enter any number: 6
*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
i=5
while i>0:
  j=1
  while j<=i:
    print("*",end=" ")
    j+=1
  i-=1
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#(A)
i=1
while i<=5:
  j=1
  while j<=i:
    print(j,end=" ")
    j+=1
  i+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#(D)
i=5
while i>0:
  j=1
  while j<=i:
    print(j,end=" ")
    j+=1
  i-=1
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#(E)
i=1
while i<=5:
  j=1
  while j<=i:
    print(i,end=" ")
    j+=1
  i+=1
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#(C)
i=5
while i>0:
  j=1
  while j<=i:
    print(i,end=" ")
    j+=1
  i-=1
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#(B)
i=1
while i<=5:
  j=5
  while j>=i:
    print(j,end=" ")
    j-=1
  i+=1
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:

p="pinki"
i=0
while i<len(p):
    j=0  
    while j<=i:
        print(p[j],end=" ")
        j+=1
    i+=1
    print("\n")

p

p i

p i n

p i n k

p i n k i

In [ ]:

p="pinki"
i=0
while i<len(p):
    s=len(p)-i
    while s>0:
        print(" ",end='')
        s-=1
    j=0  
    while j<=i:
        print(p[j],end="  ")
        j+=1
    i+=1
    print("\n")

     p

    p  i

   p  i  n

  p  i  n  k

 p  i  n  k  i

In [ ]:

i=1
while i<=5:
    s=1
    while s<=5:
        print(" ",end=" ")
        s+=1
    j=i 
    while j<=i:
        print("* "*j,end=" ")
        j+=1
    i+=2
    print()

          *
          * * *
          * * * * *

In [ ]:
#(G)
i=5
while i>0:
  j=5
  while j>=i:
    print(j,end=" ")
    j-=1
  i-=1
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
#(F)
i=5
while i>0:
  j=5
  while j>=i:
    print(i,end=" ")
    j-=1
  i-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
i=1
while i<=3:
  print(i,"(   rinki   )")
  j=1
  while j<=3:
    print(j,"pinki")
    j+=1
  i+=1

1 (   rinki   )
1 pinki
2 pinki
3 pinki
2 (   rinki   )
1 pinki
2 pinki
3 pinki
3 (   rinki   )
1 pinki
2 pinki
3 pinki

In [ ]:

        
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print(" ",end=" ")
    for j in range(i):
        c+=1
        print("ğŸ‡®ğŸ‡³",end=' ')
    for j in range(i+1):
        c+=1
        print("ğŸ‡®ğŸ‡³",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,a):
        c+=1
        print("ğŸ‡®ğŸ‡³",end=" ")
    for j in range(i,a-1):
        c+=1
        print("ğŸ‡®ğŸ‡³",end=" ")
    print()
print("count of space :",c)

num :4
        ğŸ‡®ğŸ‡³
      ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³
    ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³
  ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³
    ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³
      ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³ ğŸ‡®ğŸ‡³
        ğŸ‡®ğŸ‡³
count of space : 25

In [ ]:
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print(" ",end=" ")
    for j in range(i):
        c+=1 
        print("ğŸ’—",end=' ')
    for j in range(i+1):
        c+=1
        print("ğŸ’—",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,a):
        c+=1
        print("ğŸ’—",end=" ")
    for j in range(i,a-1):
        c+=1
        print("ğŸ’—",end=" ")
    print()
print("count of space :",c)

num :6
            ğŸ’—
          ğŸ’— ğŸ’— ğŸ’—
        ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
      ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
    ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
  ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
    ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
      ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
        ğŸ’— ğŸ’— ğŸ’— ğŸ’— ğŸ’—
          ğŸ’— ğŸ’— ğŸ’—
            ğŸ’—
count of space : 61

In [ ]:
c=0        
a=int(input("num :"))
for i in range(a-1):
    for j in range(i,a):
        print("â¬œ",end=" ")
    for j in range(i):
        c+=1
        print("ğŸŸ¦",end=' ')
    for j in range(i+1):
        c+=1
        print("ğŸŸ¦",end=" ")
    print()
for i in range(a):
    for j in range(i+1):
        print("â¬œ",end=" ")
    for j in range(i,a):
        c+=1
        print("ğŸŸ¦",end=" ")
    for j in range(i,a-1):
        c+=1
        print("ğŸŸ¦",end=" ")
    print()
print("count of space :",c)

num :3
â¬œ â¬œ â¬œ ğŸŸ¦
â¬œ â¬œ ğŸŸ¦ ğŸŸ¦ ğŸŸ¦
â¬œ ğŸŸ¦ ğŸŸ¦ ğŸŸ¦ ğŸŸ¦ ğŸŸ¦
â¬œ â¬œ ğŸŸ¦ ğŸŸ¦ ğŸŸ¦
â¬œ â¬œ â¬œ ğŸŸ¦
count of space : 13

In [11]:
from math import factorial 
# 13. Write a Python function that prints out the first n rows of Pascal's triangle.
n=int(input("Enter the num"))

for i in range(n):
  for j in range(n-i+1):
    print(" ",end="")
    
  for j in range(i+1):
    # nCr=n!/((n-r)!*r!)
    print(factorial(i)//(factorial(j)*factorial(i-j)),end=" ")

  print()

Enter the num5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
ist=['abc', 'xyz', 'aba', '1221']
# result= 2.
i=0
c=0
while i<len(ist):
  if ist[i][0]==ist[i][-1]:
    c+=1
  i+=1
print(c)

2

In [ ]:
l=[1,2,3]
for i in range(3):
  for j in range(3):
    for k in range(3):
      if (i!=j and j!=k and i!=k):
        print(l[i], l[j], l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
i=1
while i<=10:
  j=1
  while j<=12:
    print(i*j,end="  ")
    j+=1
  i+=1
  print("\n")

1  2  3  4  5  6  7  8  9  10  11  12

2  4  6  8  10  12  14  16  18  20  22  24

3  6  9  12  15  18  21  24  27  30  33  36

4  8  12  16  20  24  28  32  36  40  44  48

5  10  15  20  25  30  35  40  45  50  55  60

6  12  18  24  30  36  42  48  54  60  66  72

7  14  21  28  35  42  49  56  63  70  77  84

8  16  24  32  40  48  56  64  72  80  88  96

9  18  27  36  45  54  63  72  81  90  99  108

10  20  30  40  50  60  70  80  90  100  110  120

In [ ]:
i=1
while i<=10:
  j=1
  while j<=5:
    print(j*i,end=" ")
    j+=1
  i+=1
  print("\n")

1 2 3 4 5

2 4 6 8 10

3 6 9 12 15

4 8 12 16 20

5 10 15 20 25

6 12 18 24 30

7 14 21 28 35

8 16 24 32 40

9 18 27 36 45

10 20 30 40 50

In [ ]:
i=1
while i<=10:
  j=1
  while j<=6:
    print(j,"*",i,"=",i*j,end="     ")
    j+=1
  i+=1
  print("\n")

1 * 1 = 1     2 * 1 = 2     3 * 1 = 3     4 * 1 = 4     5 * 1 = 5     6 * 1 = 6

1 * 2 = 2     2 * 2 = 4     3 * 2 = 6     4 * 2 = 8     5 * 2 = 10     6 * 2 = 12

1 * 3 = 3     2 * 3 = 6     3 * 3 = 9     4 * 3 = 12     5 * 3 = 15     6 * 3 = 18

1 * 4 = 4     2 * 4 = 8     3 * 4 = 12     4 * 4 = 16     5 * 4 = 20     6 * 4 = 24

1 * 5 = 5     2 * 5 = 10     3 * 5 = 15     4 * 5 = 20     5 * 5 = 25     6 * 5 = 30

1 * 6 = 6     2 * 6 = 12     3 * 6 = 18     4 * 6 = 24     5 * 6 = 30     6 * 6 = 36

1 * 7 = 7     2 * 7 = 14     3 * 7 = 21     4 * 7 = 28     5 * 7 = 35     6 * 7 = 42

1 * 8 = 8     2 * 8 = 16     3 * 8 = 24     4 * 8 = 32     5 * 8 = 40     6 * 8 = 48

1 * 9 = 9     2 * 9 = 18     3 * 9 = 27     4 * 9 = 36     5 * 9 = 45     6 * 9 = 54

1 * 10 = 10     2 * 10 = 20     3 * 10 = 30     4 * 10 = 40     5 * 10 = 50     6 * 10 = 60

In [ ]:
name='pi n ki:: kum ar i'
size=len(name)
i=-1
while i<size-1:
  i+=1
  if name[i].isspace():
    continue
  print(name[i],end=" ")

p i n k i : : k u m a r i

In [ ]:
# for loop
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
i='a'
while i<='z':
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
    print(i,end=" ")
  else:
    print()
    print(i)
  i+=1

In [ ]:
i=a
while (i)is.alphabate()<='e':
  print(i)
  i+=1

In [ ]:
# 2 test
i=1
while i<=50:
  print(i)
  print(i+1)
  i+=1

In [ ]:
i=1
while i<=50:
  print(i)
  j=1
  while j<=100:
      print(i+1)
      j+=2
  i+=1

1
2
2
3
4
4
5
6
6
7
8
8
9
10
10
11
12
12
13
14
14
15
16
16
17
18
18
19
20
20
21
22
22
23
24
24
25
26
26
27
28
28
29
30
30
31
32
32
33
34
34
35
36
36
37
38
38
39
40
40
41
42
42
43
44
44
45
46
46
47
48
48
49
50
50

In [ ]:
# 1 test
n=int(input("enter Nth num: "))
l=2,3,5,7,11,13,17,19,23,29,31
i=1
while i<=n:
  if i==n:
    print(l[i-1])
  i+=1

KeyboardInterrupt: ignored

In [ ]:
factor=0
i=1
while i<=100:
  j=1
  while j<=i:
    if i%j==0:
      factor+=j
    j+=1
  if factor==i:
    print(i,"(this is a stong number)")
  i+=1

1 (this is a stong number)

#test questionsm

In [ ]:
#Q. 1
i=1
a=0
while i<=10:
  n=int(input("enter any number:"))
  a+=n
  i+=1
print("Average:",a/10)

enter any number:2
enter any number:3
enter any number:2
enter any number:3
enter any number:2
enter any number:3
enter any number:2
enter any number:3
enter any number:2
enter any number:3
Average: 2.5

In [ ]:
#Q.2
i=1
while i<=5:
  print(i*"*")
  i+=1

*
**
***
****
*****

In [ ]:
#Q.3
n=int(input("enter any number:"))
i=1
while i<=10:
  print(n,"*",i,"=",i*n)
  i+=1

enter any number:24
24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240

In [ ]:
#Q.3
i=1
while i<=10:
  j=24
  while j<=50:
    if j==24 or j==29 or j==50:
       print(j,"*",i,"=",i*j,end="     ")
    j+=1
  i+=1
  print()

24 * 1 = 24     29 * 1 = 29     50 * 1 = 50     /n
24 * 2 = 48     29 * 2 = 58     50 * 2 = 100     /n
24 * 3 = 72     29 * 3 = 87     50 * 3 = 150     /n
24 * 4 = 96     29 * 4 = 116     50 * 4 = 200     /n
24 * 5 = 120     29 * 5 = 145     50 * 5 = 250     /n
24 * 6 = 144     29 * 6 = 174     50 * 6 = 300     /n
24 * 7 = 168     29 * 7 = 203     50 * 7 = 350     /n
24 * 8 = 192     29 * 8 = 232     50 * 8 = 400     /n
24 * 9 = 216     29 * 9 = 261     50 * 9 = 450     /n
24 * 10 = 240     29 * 10 = 290     50 * 10 = 500     /n

In [ ]:
#Q.4
i=1
while i<=5:
  print(i,end="")

In [ ]:
#Q.5
n=int(input("enter any number:"))
i=1
factorial=1
while i<=n:
  factorial*=i
  i+=1
print("factorial of a no. :",factorial)

enter any number:5
factorial of a no. : 120

In [ ]:
#Q.6
i=1
hcf=1
n1=int(input("enter first num: "))
n2=int(input("enter second num: "))
while i<=n2 and i<=n1:
  if n1%i==0 and n2%i==0:
    hcf=i
  i+=1
print("The H,C.F of",n1,"or",n2,"::",hcf)

enter first num: 2
enter second num: 8
The H,C.F of 2 or 8 :: 2

In [ ]:
#Q.7
i=1
c=0
sum=0
pro=1
while i>0:
  n=int(input("enter any num: "))
  c+=1
  sum+=n
  pro*=n
  m=input("you want to press the q: " )
  if m=='q':
    break
  i+=1
print("avrage: ",sum/c)
print("product: ",pro)

enter any num: 6
you want to press the q:
enter any num: 4
you want to press the q: q
avrage:  5.0
product:  24

In [ ]:
#Q.8
n=int(input("enter any number:"))
sum=0
while n>0:
  a=n%10
  sum+=a
  n//=10
print("sum:",sum)

enter any number:675
sum: 18

In [ ]:
#Q.9
i=100
sum=0
while i<=500:
  j=i
  while j>0:
    a=j%10
    b=a**3
    sum+=b
    j=j//10
  if i==sum:
    print(i,"Armstong Number")
  i+=1
  sum=0

153 Armstong Number
370 Armstong Number
371 Armstong Number
407 Armstong Number

In [ ]:
#Q. 10
n=int(input("enter any number:"))
i=1
while i<=n:
  if n%i==0:
    print(i,end=",")
  i+=1

enter any number:6
1,2,3,6,

In [ ]:
#Q.11
i=1
factor=0
while i<=100:
  j=1
  while j<=i:
    if i%j==0:
      factor+=1
    j+=1
  if factor==2:
    print(i,end=" ")
  i+=1
  factor=0

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#########   first to N'th term'th prime number
n=int(input("enter :"))
c=0
i=1
while True:
    fac=0
    j=1
    while j<=i:
        if i%j==0:
            fac+=1
        j+=1
    if fac==2:
        c+=1
        if c<=n:
            print(i,end=",")
        else:
            break
    i+=1

enter :5
2,3,5,7,11,

In [ ]:
N_num=int(input("Enter the number :"))
count=0
if N_num>0:
  print(2,end=",")
  count+=1
  i=3
  while True:
    factor=0
    j=2
    while j**2<=i:
      if i%j==0:
        factor+=1
      j+=1
    if factor==0:
      count+=1
      if count <= N_num:
        print(i,end=",")
      else:
        break
    i+=1

Enter the number :10
2,3,5,7,11,13,17,19,23,29,

In [ ]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
if a==b:

In [ ]:
#Q.12
n=int(input("enter any num:"))
r=0
while n>0:
  a=n%10
  r=r*10+a
  n=n//10
print("reversed number:",r)

enter any num:6543
reversed number: 3456

In [ ]:
#Q.13
n=int(input("enter any number:"))
n1=int(input("enter any number:"))
i=1
while i<=n or i<=n1:
  if n%i==0 or n1%i==0:
    print(i)
  i+=1
else:
  if 
print("all are the factor of",n,n1)

enter any number:3
enter any number:6
1
2
3
6
all are the factor of 3 6

In [ ]:
#Q.13
i=1
while i<=24:
  j=1
  while j<=i:
    if i==3 or i==8 or i==24:
      if i%j==0:
        print(j,end="")
      
    j+=1
  print()
  i+=1

1 3




1 2 4 8















1 2 3 4 6 8 12 24

In [ ]:
#Q.14
i=5
while i>0:
  j=i
  while j<=5:
    print(j,end=" ")
    j+=1
  i-=1
  print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [ ]:
i=65
while i<=70:
  j=65
  while j<=70:
    print(chr(i),end=" ")
    j+=1
  i+=1
  print()

A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [ ]:
i=65
while i<=70:
  j=65
  while j<=i:
    print(chr(j),end=" ")
    j+=1
  i+=1
  print()

A
A B
A B C
A B C D
A B C D E
A B C D E F

In [ ]:
i=65
while i<=70:
  j=65
  while j<=i:
    print(chr(i),end=" ")
    j+=1
  i+=1
  print()

A
B B
C C C
D D D D
E E E E E
F F F F F F

In [ ]:
i=65
while i<70:
  s=1
  while s<=69-i:
    print(" ",end=" ")
    s+=1
  j=65
  while j<=i:
    print(chr(i),end=" ")
    j+=1
  i+=1
  print()

        A
      B B
    C C C
  D D D D
E E E E E

In [ ]:
i=65
while i<70:
  s=1
  while s<=69-i:
    print(" ",end=" ")
    s+=1
  j=i
  while j>=65:
    print(chr(j),end=" ")
    j-=1
  i+=1
  print()

        A
      B A
    C B A
  D C B A
E D C B A

In [ ]:
i=65
while i<70:
  s=1
  while s<=69-i:
    print(" ",end=" ")
    s+=1
  j=65
  while j<=i:
    print(chr(j),end=" ")
    j+=1
  i+=1
  print()

        A
      A B
    A B C
  A B C D
A B C D E

In [ ]:
#Q.15
a=int(input("enter any number:"))
b=int(input("enter any number:"))
i=1
while i<=b:
  if i==b:
    print(a**b)
  i+=1

enter any number:2
enter any number:4
16

In [ ]:
#Q.16
a=int(input("how many time run input:"))
i=1
positive num=0
nagetive num=0
zero=0
while i<=a:
  n=int(input("enter any number:"))
  if n<0:
   nagetive+=1
  elif n==0:
    zero+=1
  else:
    positive+=1
  i+=1
print("How many positive number",positive)
print("How many nagetive number",nagetive) 
print("How many zero number",zero)

In [ ]:
#Q.17
a=int(input("how many take input:"))
i=1
while i<=a:
  n=int(input("enter any number: "))

In [ ]:
#Q.18
a=int(input("how many term you want:"))
n1=0
n2=1
n3=0
i=1
while i<=a:
  print(n1,end=" ")
  n3=n1+n2
  n1=n2
  n2=n3
  i+=1

how many term you want:7
0 1 1 2 3 5 8

In [ ]:
#Q.19
i=1
while i<=4:
  j=1
  while j<=3:
    print(j*"*",end="")
    j+=1
  i+=1
  print()

******
******
******
******

In [ ]:
######     FOR   LOOP  ##################

In [ ]:
for letter in "hello":

SyntaxError: ignored

In [ ]:
### while questions
i = int(input("enter the num:"))
fac = 1
while i>0:
   fac=fac*i
   i=i-1
print("factorial=",fac)

enter the num:5
factorial= 120

In [ ]:
for count in range(4):
  print(count)

0
1
2
3

In [ ]:
for count in range(5):
  print(count,end=",")

0,1,2,3,4,

In [ ]:
for count in range(1,6):
  print(count)

1
2
3
4
5

In [ ]:
for count in range(1,9,2):
  print(count)

1
3
5
7

In [ ]:
for pinki in range(9,1,-1):
  print(pinki)

9
8
7
6
5
4
3
2

In [ ]:
for pinki in range(10,0,-2):
   print(pinki)
print("even number")

10
8
6
4
2
even number

In [ ]:
for pic in range(1,20,2):
  print(pic)
print("odd number")

1
3
5
7
9
11
13
15
17
19
odd number

In [ ]:
for pin in range(1,10):
   if pin%2==0:
     print(pin,"even")
   else:
     print(pin,"odd number")

1 odd number
2 even
3 odd number
4 even
5 odd number
6 even
7 odd number
8 even
9 odd number

In [ ]:
for i in (1,2,3):
  print(i)

1
2
3

In [ ]:
for i in(6,9,1):
  print("i")

i
i
i

In [ ]:
for i in(4,3,2,1,0):
  print(i,end=",")

4,3,2,1,0,

In [ ]:
# [5]
for i in range(10):
  if i%2!=0:
    print("hello",i)

hello 1
hello 3
hello 5
hello 7
hello 9

In [ ]:
#[6]
for i in range(10,2,-2):
  print(i,"hello")

10 hello
8 hello
6 hello
4 hello

In [ ]:
#[7]
str="python output based questions"
word=str.split()
for i in word:
  print(word)

python
output
based
questions

In [ ]:
#[25]
x=2
for i in range(x**2,x,-1):
  print(x)

2
2

In [ ]:
#[26]
x=10
for i in range(x):
  if x==5:
    break
    print("H")
  print(x)

10
10
10
10
10
10
10
10
10
10

In [ ]:
#[27]
x=6
for i in range(x):
  if x==5:
    break
  print(i)
print("x")

0
1
2
3
4
5
x

In [ ]:
for i in range(6):
  if i==4:
    break
  print(i)
print("pinki")

0
1
2
3
pinki

In [ ]:
#[28]
s=0
for i in range(5):
  s+=i
  print(s)

0
1
3
6
10

In [ ]:
#[29]
for i in range(1,11):
  print("%d"%i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#[30]
print((3>1)and (9<1))

False

In [ ]:
#[31]
print((9>1)or(9<1))

True

In [ ]:
#[32]

while f<10:
  print(f)
  f*=3
f=0
####  infinite ##########

In [ ]:
#[33]
for i in range(5):
  for j in range(i):
    i=i+j
    print(i,end="@ ")
print()   
print(j)

1@ 2@ 3@ 3@ 4@ 6@ 4@ 5@ 7@ 10@
3

In [ ]:
#[34]
i=0
while i<5:
  for j in range(i):
    print(j,end="S ,")
  i+=1

0S ,0S ,1S ,0S ,1S ,2S ,0S ,1S ,2S ,3S ,

In [ ]:
#[35]
num1=7
num2=10
for i in range(5):
  num2+=10
  print(num2)
  print(num1)

20
7
30
7
40
7
50
7
60
7

In [ ]:
#[36]
s=0
for i in range(-5,5):
  s=s+i
  print(s)

-5
-9
-12
-14
-15
-15
-14
-12
-9
-5

In [ ]:
#[37]
for i in range(5):
  if i%2==0:
    pass
  else:
    print(i)

1
3

In [ ]:
#[38]
for i in range(5):
  if i%2==0:
    continue
  else:
    print(i)

1
3

In [ ]:
#[39]
for i in range(1,5):
  if i%2==0:
    break
  else:
    print(i)

1

In [ ]:
#[40]
for i in range(5):
  while(i):
    print(i,end=" ")
    i=i-1
  print()

1
2 1
3 2 1
4 3 2 1

In [ ]:
#[41]
x=5
while x<15:
  print(x**2)
  x+=3

25
64
121
196

In [ ]:
#[42]
a=7
b=5
while a<9:
  print(a+b)
  a+=1

12
13

In [ ]:
#[43]
b=5
while b<9:
  print("H")
  b+=1

H
H
H
H

In [ ]:
#[44]
b=15
while b>9:
  print("Hello")
  b=b-2

Hello
Hello
Hello

In [ ]:
#[45]
x=15
while x==15:
  print("Hello")
  x-=3

Hello

In [ ]:
#[46]
x="14873"
for i in x:
  print(i)

1
4
8
7
3

In [ ]:
#[47]
i=9
while True:
  if i%3==0:
    break
  print("A")

In [ ]:
#[48]
a=5
while (a<=10):
  print(a,"a")
  a+=1

5 a
6 a
7 a
8 a
9 a
10 a

In [ ]:
#[49]
i=0
while i<3:
  print(i)
  i+=1
else:
  print(7)

0
1
2
7

In [ ]:
#[50]
i=0
while i<3:
  print(i)
  i+=1
  print(0)

0
0
1
0
2
0

In [ ]:
#[51]
i=2
for x in range(i):
  i+=1
  print(i)

3
4

In [ ]:
#[52]
i=2
for x in range(i):
  x+=1
  print(x)

1
2

In [ ]:
#[53]
i=2
for x in range(i):
  x+=1
  print(x)
  print("x")

1
x
2
x

In [ ]:
#[54]
i=100
while i<57:
  print(i)
  i+=5
  # i>57 hona chahiye tha to iska ans wrong hai.

In [ ]:
#[55]
for i in range(5):
  for j in range(i):
    print("A",end=" ")
  print()

A
A A
A A A
A A A A

In [ ]:
#[56]
for i in range(5):
   for j in range(i):
     print("A",end="a")
   print()

Aa
AaAa
AaAaAa
AaAaAaAa

In [ ]:
#[57]
for i in range(5):
  print("AS"*i,"\n")

AS

ASAS

ASASAS

ASASASAS

In [ ]:
#[58]
for i in range(5):
  for j in (i):
    print("AS"*i,"\n")

TypeError: ignored

In [ ]:
#[59]
print(10*2//3**2)

2

In [ ]:
#[60]
print(12+34-320)

In [ ]:
a = "kdji"
b = "123"
print(b.isdigit())
print(a.isdigit())

True
False

In [ ]:
i=1
while i<=5:
  j=1
  while j<=i:
    print(j,end=" ")
    j+=1
  i+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
p=122
print(chr(p))

z

In [ ]:
i=70
while i>=65:
  j=65
  while j<=i:
    print(chr(j),end=" ")
    j+=1
  i-=1
  print()

A B C D E F
A B C D E
A B C D
A B C
A B
A

In [ ]:
a=4+2j
b=3
c=a+b
print(c)
print(type(c))

(7+2j)
<class 'complex'>

In [ ]:
# a=1
# b=2
# c="3"
# print(a+b+c)
print(bool(a))
print(bool(b))
print(bool(c))

False
False
True

In [ ]:
num=int(input("Enter number :"))
p=num%100
a=str(p)
if a[0]=='7':
    print("True")
else:
    print("False")

Enter number :56575
True

In [ ]:
num=int(input("Enter number :"))
p=num%100
a=p//10
if a==7:
    print("True")
else:
    print("False")

Enter number :342375
True

In [ ]:
  # max number
n=int(input("num :"))
n1=int(input("Enter num :"))
max=n12
sum=0
i=1
while i<n:
    n1=int(input("Enter num :"))
    if n1>max:
        max=n1
    i+=1
print(max)

num :4
Enter num :5
Enter num :2
Enter num :8
Enter num :6
8

In [ ]:
###################   RPIME NUMBER   #######################
num=int(input("enter num :"))
if num%2==0:
    if num==2:
        print("prime")
    else:
        print("not prime")
else:
  c=0
  i=3
  while (i**i)<=num:
    if num%i==0:
      c+=1
      if c>0:
        prime("not prime")
        break
    i+=1
  print("prime")

enter num :86
prime